<% if criterium.title %>
  
    <% @user = current_user %>

    <% status_color = "#ff7455d9;;" if criterium.user.include?(@user) %>
    <% status_color = "#05adabab;" if criterium.cridissent.find_by(user: @user) %>

    <!-- <div class="criterium" style="border-color: <%= status_color %> "> -->
    <div class="criterium" >
      <%= link_to show_criterium_path(:criterium_id => criterium.hashid) do %>
      <div class="criterium-title">
        <%= criterium.title %>
      </div>
      <% end %>

      <div class="criterium-response">

        <!-- SPONSORSHIP -->
        <div class="criteria-sponsorship">
          <%if criterium.user.include?(@user)%>
            <%= link_to unsponsor_criteria_path(:criterium_id => criterium.id), :method => "post" do %>
              <span class="crisupport-count red tooltip-toggle" href="#" aria-label="Unsupport" tabindex="0">
                <i class="fas fa-hand-point-up red"></i>
                <%= criterium.user.count %>
              </span>
            <% end %>
          <%else%>
            <%= link_to sponsor_criteria_path(:criterium_id => criterium.id), :method => "post" do %>
              <span class="crisupport-count gray tooltip-toggle" href="#" aria-label="Support" tabindex="0">
                <i class="fas fa-hand-point-up gray"></i>
                <%= criterium.user.count %>
              </span>
            <% end %>
          <% end %>
        </div>


        <!-- OBJECTIONS -->
        <div class="dissent-stuff">
          <%if criterium.cridissent.find_by(user: @user)%>
            <%= link_to assent_criteria_path(:criterium_id => criterium.id), :method => "post" do %>   
              <span class="cridissent-count tooltip-toggle green" href="#" aria-label="Unobject" tabindex="0">
                <i class="fas fa-hand-point-down green"></i>
                <%= criterium.cridissent.count %>
              </span>    
            <% end %>         
          <%else%>
            <%= link_to show_criterium_path(:criterium_id => criterium.id) do %>
              <span class="cridissent-count tooltip-toggle gray" href="#" aria-label="Objections" tabindex="0">
                <i class="fas fa-hand-point-down gray"></i>
                <%= criterium.cridissent.count %>
              </span>  
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  <%end%>