<% if criterium.title %>

  <%
    def weighted_scoring?(problem)
      problem.scoring_method && problem.scoring_method == 1
    end

    # if weighted_scoring?(criterium.problem)
    #   concern = "objection"
    # else
    #   concern = "concern"
    # end
    concern = "concern"

    @user = current_user

    status_color = "#ff7455d9;;" if criterium.user.include?(@user)
    status_color = "#05adabab;" if criterium.cridissent.find_by(user: @user) 
  %>

  <div class="criterium" >

    <div class="criterium-top">
      <div class="criterium-title">
        <%= criterium.title %>

        <br>

        <div class="criterion-details">
          <!-- If anyone dissented -->
          <% if criterium.cridissent.count > 0 %>
            <div>
                <span class="show-objections gray orange underline" id="show-objections-<%=criterium.id%>"><%= pluralize(criterium.cridissent.count, concern)%> (click to view)</span>

              <% if criterium.cridissent.find_by(user: @user) %>
                <%#= link_to assent_criteria_path(:criterium_id => criterium.id), :method => "post" do %>  <!-- <span class="cridissent-count gray" href="#" aria-label="Remove concern" tabindex="0">
                  -remove
                </span> -->
                <%# end %>
              <% else %>
                <!-- <span class="cridissent-count submit-concern gray" id="submit-concern-<%=criterium.id%>">Add)</span> -->
              <% end %>

              <% if criterium.crialt.count > 0 %>
              <br>
                <span>
                  <span class="purple"></span>
                    <span class="crialt-button gray purple" id="open-crialt-<%=criterium.id%>"><%= pluralize(criterium.crialt.count, "alternative") %> (click to view)</span>
                </span>
              <% else %>
                <br>
                <span class="crialt-button gray" id="add-crialt-<%=criterium.id%>">+ suggest alternative</span>
              <% end %>

            </div>
          <% else %>

            <div class="dissent-stuff">
              <!-- Objections -->
              <% if criterium.cridissent.find_by(user: @user) %>
                  <%= link_to assent_criteria_path(:criterium_id => criterium.id), :method => "post" do %>
                    <span class="cridissent-count gray" href="#" aria-label="Remove concern" tabindex="0">
                      – retract concern
                    </span>
                  <% end %>
              <% else %>
                  <span class="cridissent-count submit-concern gray" id="submit-concern-<%=criterium.id%>" href="#" aria-label="Lodge a concern" tabindex="0">
                    + add <%=concern%>
                  </span>    

              <% end %>
            </div>
          
          <% end %>

        </div>
      </div>


      <!-- If there's a facilitator -->
      <% if logged_in? %>
        <!-- If you are the facilitator -->
        <% if criterium.problem.facilitator_id && criterium.problem.facilitator_id == @user.id %>
  
          <!-- If weighted scoring is off -->
          <% if !weighted_scoring?(criterium.problem) %>
  
            <div class="criteria-sponsorship">


              <%if criterium.user.include?(@user)%>
                <%= link_to unsponsor_criteria_path(:criterium_id => criterium.id), :method => "post" do %>
                  <!-- <div class="max-width"> -->
                  <div>
                    <span class="crisupport-count gray lightgray-background small-button" href="#" tabindex="0">
                    <i class="fas fa-times gray"></i>
                    Remove
                  </span></div>
                <% end %>
              <%else%>
                  <!-- <div class="max-width"> -->
                  <div>
                    <span class="crisupport-count gray small-button green-background" href="#" tabindex="0">
                <%= link_to sponsor_criteria_path(:criterium_id => criterium.id), :method => "post" do %>
                    <i class="fas fa-thumbs-up gray"></i>
                    Approve
                  </span>
                <% end %>
                </div>

                <!-- &nbsp; -->

                <div>
                <%= link_to destroy_criterium_path(:id => criterium.id), :method => "delete", data: { confirm: 'Are you sure you want to delete this criterion?' } do %>
                  <span class="crisupport-count gray small-button red-background" href="#" tabindex="0">
                    <i class="fas fa-minus-circle gray"></i>
                    Delete
                  </span>
                <% end %>
                </div>

              <% end %>
            </div>

          <% end %>
        <% end %>

        <!-- If weighted scoring is on, allow supporting -->
        <% if weighted_scoring?(criterium.problem) %>
          <!-- SPONSORSHIP -->
          <div class="criteria-sponsorship">
            <%if criterium.user.include?(@user)%>
              <%= link_to unsponsor_criteria_path(:criterium_id => criterium.id), :method => "post" do %>
                <span class="crisupport-count red tooltip-toggle tooltip-small" href="#" aria-label="Remove&nbsp;support" tabindex="0">
                  <i class="fas fa-hand-point-up red"></i>
                  <%= criterium.user.count %>
                </span>
              <% end %>
            <%else%>
              <%= link_to sponsor_criteria_path(:criterium_id => criterium.id), :method => "post" do %>
                <span class="crisupport-count gray tooltip-toggle tooltip-small" href="#" aria-label="Add&nbsp;support" tabindex="0">
                  <i class="fas fa-hand-point-up gray"></i>
                  <%= criterium.user.count %>
                </span>
              <% end %>
            <% end %>

            <!-- If facilitator, allow deletion -->
            <% if criterium.problem.facilitator_id && criterium.problem.facilitator_id == current_user.id %>
              <%= link_to destroy_criterium_path(:id => criterium.id), :method => "delete", data: { confirm: 'Are you sure you want to delete this criterion?' } do %>
                <span class="crisupport-count gray tooltip-toggle tooltip-small" href="#" aria-label="Delete" tabindex="0">
                  <i class="fas fa-minus-circle gray"></i>
                </span>
              <% end %>
            <% end %>

          </div>

        <%end%>
      <%end%>
    </div>

  </div>

  <div class="objection-popup" id="objection-<%=criterium.id%>">
    <div class="objection-inner">
      <div class="close-outer"><i class="fas fa-times close-window"></i></div>
      <h2>What is your <%=concern%> for the criterion "<%=criterium.title%>"?</h2>

      <div class="criterion-objection-input">
      <%= form_for(criterium.cridissent.new, :url => dissent_criteria_path, remote: true) do |form| %>
        <!-- <div class="dissent-instructions">I cannot support a proposal that meets this criterion because</div> -->
        <%= form.hidden_field :criterium_id %>
        <div class="dissent-title"><%= form.text_area :title%></div>
        <!-- <div class="submit-dissent"> -->
        <div>
          <%= form.submit "Submit", :class => "button" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>

  <div class="objection-popup" id="objection-list-<%=criterium.id%>">
    <div class="objection-list-inner">
      <div class="close-outer"><i class="fas fa-times close-window"></i></div>
      <h2><%=concern.capitalize%>s for "<%=criterium.title%>"</h2>
      <ul>
      <span class="cridissent-count submit-concern underline gray" id="submit-concern-<%=criterium.id%>">+ Add a <%=concern%></span>
      <!-- <br><br><div><strong><%=concern.capitalize%>s</strong></div> -->
      <% criterium.cridissent.each do |dissent| %>
      <%if dissent.user%>
        <li>
          <% if dissent.title.length > 0 %>
            "<%= dissent.title %>"
          <% else %>
            Unspecified reason
          <%end%>
          -<%= link_to(dissent.user.name, dissent.user) %>

          <% if dissent.user == current_user %>
            <%= link_to assent_criteria_path(:criterium_id => criterium.id), :method => "post" do %>  <span class="cridissent-count gray" href="#" aria-label="Remove concern" tabindex="0">
              <button class="button small-button button">remove this <%=concern%></button>
            </span>
            <% end %>
          <% end %>
        </li>
      <%end%>
    <% end %></ul>
    </div>
  </div>

  <div class="objection-list" id="crialt-<%=criterium.id%>" style="display: none;">
    <div class="objection-list-inner">
      <div class="close-outer"><i class="fas fa-times close-window"></i></div>
      <h2>Suggest an alternative for "<%=criterium.title%>"</h2>

      <ol>
        <p>Suggest an existing criterion from the list below as an alternative, or <%= link_to "Suggest a new one", new_criterium_path( :problem_id => criterium.problem.id, :alt => criterium.hashid), :class => "button suggest-link"  %></p>

        <!-- <input placeholder="Suggest a new criterion" style="width: 295px">&nbsp;<button>Suggest</button> -->

        <% criterium.problem.criterium.each do |alt| %>
          <% unless alt.id==criterium.id || criterium.crialt.select{|x| x["alternative"].to_i == alt.id}.count > 0%>
              <li>
                <div><strong><%= alt.title %></strong>
                <% if alt.cridissent.count > 0 %>
                  (<%= pluralize(alt.cridissent.count, concern)%>)
                <% end %></div>
                &nbsp;<%= link_to "Suggest", alt_criterium_path(:from => criterium.id, :to=> alt.id), :class => "suggest-link", :method => "post" %>
              </li>
          <% end %>
        <% end %>

      </ol>

    </div>
  </div>

  <div class="objection-list" id="crialt-list-<%=criterium.id%>" style="display: none;">
    <div class="objection-list-inner">
      <div class="close-outer"><i class="fas fa-times close-window"></i></div>
      <h2>Suggested alternatives for "<%=criterium.title%>"</h2>

      <ol>
        <span class="crialt-button underline gray" id="add-crialt-<%=criterium.id%>">+ add an alternative</span>
        <% criterium.crialt.order("transferred_user_count DESC").each do |suggestion| %>
            <li>
              <div><strong><%= Criterium.find(suggestion.alternative).title %></strong>

              <% if weighted_scoring?(@problem) && suggestion.transferred_user_count > 0 %>
                (<i class="fas fa-sync-alt"></i> <%= pluralize(suggestion.transferred_user_count, "transfer") %>) 
              <% end %></div>

              <% if criterium.user.include?(@user) %>
                &nbsp;<%= link_to "Switch to this", accept_alt_path(:crialt => suggestion.id), :class => "transfer-link", :method => "post"%>
              <% end %>
            </li>
        <%end%>
      </ol>
    </div>
  </div>

<%end%>

<script type="text/javascript">
  $('#submit-concern-<%=criterium.id%>').click( function() {
    $('#objection-list-<%=criterium.id%>').hide()
    $('#objection-<%=criterium.id%>').show()
  })

  $('#objection-<%=criterium.id%>').find('.close-window').click(function(){
    $('#objection-<%=criterium.id%>').hide()
  })

  $('#show-objections-<%=criterium.id%>').click( function() {
    $('#objection-list-<%=criterium.id%>').show()
  })

  $('#objection-list-<%=criterium.id%>').find('.close-window').click(function(){
    $('#objection-list-<%=criterium.id%>').hide()
  })

  $('#add-crialt-<%=criterium.id%>').click( function() {
    $('.objection-list').hide()
    $('#crialt-<%=criterium.id%>').show()
  })

  $('#crialt-<%=criterium.id%>').find('.close-window').click(function(){
    $('#crialt-<%=criterium.id%>').hide()
  })

  $('#open-crialt-<%=criterium.id%>').click( function() {
    $('#crialt-list-<%=criterium.id%>').show()
  })

  $('#crialt-list-<%=criterium.id%>').find('.close-window').click(function(){
    $('#crialt-list-<%=criterium.id%>').hide()
  })
</script>