<div id="solver">

  <div class="back-button">
    <%= link_to issue_path(:problem_id => @problem.hashid) do %>
      <div class="back-button-arrow"></div>
      <div class="back-button-content">
        Back
      </div>
    <% end %>
  </div>

  <div class="criteria-outer">

    <h1 id="criteria">
      <i class="fas fa-clipboard-list"></i>
      Criteria for <em><%= @problem.title %></em>
    </h1>

    <div id="issue-criteria">

    <h2>Suggested criteria</h2>
    <div class="criteria-list">
    <% @inactive_criteria.each do |criterium| %>
      <%= render(:partial => 'criteria/criterium-mini', :locals => {:criterium => criterium})%>
    <% end %>
    </div>

    <% if !@problem.facilitator_id || ( @problem.facilitator_id && @problem.facilitator_id != current_user.id ) %>

      <h2>Criteria</h2>
      <% if @criteria.count > 0 %>
      <% end %>
      <div class="criteria-list">
      <% @criteria.each do |criterium| %>
        <%= render(:partial => 'criteria/criterium-mini', :locals => {:criterium => criterium})%>
      <% end %>
      </div>

    <% end %>


    <% if !@problem.facilitator_id || ( @problem.facilitator_id && @problem.facilitator_id == current_user.id ) %>

      <h2>Criteria</h2>


      <% if @my_criteria.count > 0 %>
      <% end %>
      <div class="criteria-list">
      <% @my_criteria.each do |criterium| %>
        <%= render(:partial => 'criteria/criterium-mini', :locals => {:criterium => criterium})%>
      <% end %>
      </div>

    <% end %>
    
    </div>
  </div>

</div>