<div class="backdrop">

<div class="back-button">
  <%= link_to issue_path(:problem_id => params[:problem_id]) do %>
    <div class="back-button-arrow"></div>
    <div class="back-button-content">
      Back
    </div>
  <% end %>
</div>

<div class="form-tab form-full">

<h1>New criterion</h1>

<% if params[:alt] %>
  <% @alt = Criterium.find(params[:alt]) %>
  <p><i class="fas fa-hand-paper"></i> Suggesting as a potential alternative to: <strong><%= @alt.title %></strong></p>
<% end %>

<div id="submit-criteria">
  <%= form_for(@criterium, remote: true) do |form| %>

    <div class="criterion-description">
      <%= form.text_area :title, id: :criterium_title, placeholder: "What would you like be true about any proposal addressing the issue in question?" %>
    </div>

    <%= form.hidden_field :problem_id, id: :id %>
    <%= form.hidden_field :alt_id, id: :alt_id, value: params[:alt] %>

    <!-- <%= link_to "Cancel", issue_path(:problem_id => @criterium.problem.id), :class => "button button-hollow" %> -->

    <%= form.submit "Submit", id: :submit_form, :class => "button" %>

  <% end %>
</div>

<br>
<h3>TIP: Does the criterion have these helpful characteristics?</h3>
<ol>
<li>Is noncontroversial
<li>Can be evaluated (subjectively)
<li>Uses positive language (what is wanted rather than what is not wanted)
<li>Is relevant to the context
<li>Is operational (can in principle be made to happen)
<li>Applies to everyone (this is a need that everyone can recognize, not just one person’s need)
<li>Doesn’t have a specific outcome (as long as it’s noncontroversial, this is the least important characteristic)  
</ol>

</div>

</div>