<div class="backdrop">

<div class="back-button">
  <%= link_to issue_path(:problem_id => @criterium.problem.hashid, :view => "suggested"), data: { turbolinks: false } do %>
    <div class="back-button-arrow"></div>
    <div class="back-button-content">
      All criteria
    </div>
  <% end %>
</div>

<div class="criterion-outer">

<%= render(:partial => 'criteria/criterium-mini', :locals => {:criterium => @criterium})%>

</div>

<%if false%>

<div class="criterion-outer">

<div class="criterion-action-box">
	<div class="criterium-dissent">
		<%if @criterium.cridissent.find_by(user: @user) %>
	    <div>
				<!-- <h2><%= pluralize(@criterium.cridissent.count, "Concern") %></h2> -->
	      <!-- <strong>You objected</strong>: "<%= @criterium.cridissent.find_by(user: @user).title %>" -->
	      <%= link_to "remove my concern", assent_criteria_path(:criterium_id => @criterium.id), :method => "post", :class => "button" %>
	    </div>
	  <%else%>
			<!-- <h3><%= @criterium.cridissent.count %> Concerns</h3> -->
			<h2>Controversial? Say more.</h2>

		  <%= form_for(@criterium.cridissent.new, :url => dissent_criteria_path, remote: true) do |form| %>
		    <!-- <div class="dissent-instructions">I cannot support a proposal that meets this criterion because</div> -->
		    <%= form.hidden_field :criterium_id %>
		    <div class="dissent-title"><%= form.text_area :title, placeholder: "I find this criterion controversial because..." %></div>
		    <!-- <div class="submit-dissent"> -->
		    <div>
		    	<%= form.submit "Submit", :class => "button" %>
	    	</div>
		  <% end %>
	  <%end%>

	</div>
	<!-- <hr> -->

	<ul><% @criterium.cridissent.each do |dissent| %>
		<li>
	  	<%if dissent.user%>
				<strong><%= link_to(dissent.user.name, dissent.user) %></strong>:
		  	<% if dissent.title.length > 0 %>
			  	"<%= dissent.title %>"
		  	<% else %>
		  		is concerned about this criterion
		  	<%end%>
	  	<%end%>
  	</li>
	<% end %></ul>
</div>
<%end%>
<!-- <div class="criterion-action-box">
</div> -->

<%if false%>
<div class="criterion-action-box">
	<h3>Alternatives</h3>

	<div class="btn-group dropright">
	  <button type="button" class="button button-hollow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		
		Suggest an alternative <i class="fas fa-caret-down"></i>

	  </button>
	  
	  <div class="dropdown-menu">

		<ul>
			<% @criterium.problem.criterium.each do |alt| %>
				<% unless alt.id==@criterium.id || @criterium.crialt.select{|x| x["alternative"].to_i == alt.id}.count > 0%>
						<li>
							<%= link_to "Suggest", alt_criterium_path(:from => @criterium.id, :to=> alt.id), :class => "suggest-link", :method => "post" %>
							<%= alt.title %>
							<% if alt.cridissent.count > 0 %>
								(<%= alt.cridissent.count %> objections)
							<% end %>
						</li>
				<% end %>
			<% end %>
		</ul>
	  </div>
	</div>

	<ul>
		<% @criterium.crialt.order("transferred_user_count DESC").each do |suggestion| %>
				<li>
					<% if @criterium.user.include?(@user) %>
						<%= link_to "Accept alternative", accept_alt_path(:crialt => suggestion.id), :class => "transfer-link", :method => "post"%>
					<% end %>
	  				<%= Criterium.find(suggestion.alternative).title %>
					(<%= suggestion.transferred_user_count %> <i class="fas fa-sync-alt"></i>) 
				</li>
		<%end%>
	</ul>
</div>
<%end #end of "false"%>

</div>

<% if current_user.admin? %>

  Added by user <%= @criterium.creator %>

  <%= link_to "Broadcast", broadcast_criterion_path(:criterion_id => @criterium.id), :method => "post", :class => 'button', data: { confirm: "Broadcast criterion?" } %>
<% end %>
</div>