<p>Temperatures are rising. The ice caps are melting. Natural disasters are intensifying. We must do everything within our power to lower greenhouse gas emissions before we reach a tipping point. This is a place for anyone to discuss, brainstorm and execute strategies to combat climate change.
</p>
<%= link_to "How it works", documentation_path %>

<p id="notice"><%= notice %></p>

<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-0">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <br>
      <%= f.label :remember_me do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>
      
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>