<p id="notice"><%= notice %></p>

<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-0">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-mini' %>

      <br><br>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-mini' %>

      <br><br>

      <%= f.label :remember_me do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <br>

      <%= f.submit "Log in", class: "button" %>
    <% end %>

    <br>

    <p>Can't log in? <%= link_to "Reset password", new_password_reset_path %></p>

    <p>New user? <%= link_to "Sign up", signup_path %></p>
  </div>
</div>