<%= form_with(model: discussion, local: true) do |form| %>
  <% if discussion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(discussion.errors.count, "error") %> prohibited this discussion from being saved:</h2>

      <ul>
      <% discussion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="main">
    <% if params[:goal] %>
      <% @goal = Goal.find(params[:goal]) %>
      <p><i class="fas fa-link"></i> Attached to goal <strong><%= link_to @goal.title, goal_path(:goal_id => @goal.id) %> </strong></p>
    <% end %>
  
    <h1>Title</h1>
    <%= form.text_area :title, id: :discussion_title, placeholder: "Name this discussion" %>
    <h1>Details</h1>
    <%= form.text_area :content, id: :discussion_content, placeholder: "Details to guide discussion (optional)" %>
    <%= form.hidden_field :goal_id, id: :goal_id, value: params[:goal] %>
  </div>

  <% if Setting.find(12).state %>
    <%= form.check_box :broadcast_discussion, {checked: false}, true, false %> Send a notification about this discussion to all members
    <br>
  <% end %>

  <%= form.submit value: "Post", id: :submit_discussion%>

<% end %>
