<%= form_with(model: problem, local: true) do |form| %>
  <% if problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
      <% problem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="main-field">
    <h1>Title</h1>
    <%= form.text_area :title, id: :problem_title, placeholder: "Briefly summarize the issue you want to find solutions for" %>

    <h1>Details</h1>
    <%= form.text_area :description, id: :problem_description, placeholder: "Explain the issue in detail" %>

    <% if Setting.first.state %>
      <div class="number-field-outer">
        <h1>Activation minimum</h1>
        <p>This is the number of people who must suggest a solution before it is posted as an action to the main feed.</p>
        <%= form.number_field :suggestion_min, value: 1, id: :suggestion_min %>
      </div>
    <% end %>

  </div>

  <%= form.submit "Post", id: :submit_brainstorm %>

<% end %>