<%= form_with(model: problem, local: true) do |form| %>
  <% if problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
      <% problem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:goal] %>
    <% @goal = Goal.find(params[:goal]) %>
    <p><i class="fas fa-link"></i> Attached to goal <strong><%= link_to @goal.title, goal_path(:goal_id => @goal.id) %> </strong></p>
  <% end %>

  <div class="main-field">
    <h2>Title</h2>
    <%= form.text_area :title, id: :problem_title, placeholder: "Brief summary of the issue in question" %>

    <h2>Details</h2>
    <%= form.text_area :description, id: :problem_description, placeholder: "(optional)" %>

    <br>
  <!--   <%= form.check_box :require_action, {checked: false}, true, false %> Only allow proposals that are formatted as "actions" -->

    <%= form.hidden_field :goal_id, id: :goal_id, value: params[:goal] %>

    <% if Setting.first.state && false %>

      <div class="number-field-outer">
        <h1>Activation minimum</h1>
        <p>This is the number of people who must suggest a solution before it is posted as an action to the main feed.</p>
        <%= form.number_field :suggestion_min, value: 1, id: :suggestion_min %>
      </div>
      
      <%= link_to "(See how this works)", documentation_path(:anchor => "proposal_activation") %>

    <% end %>

    <div>
    <% if Setting.find(10).state %>
      <%= form.check_box :facilitator_id, {checked: true}, current_user.id, false %> Facilitator mode
    <% end %>
    </div>

    <% if Setting.find(11).state %>
      <div>
        <!-- Scoring method -->
        <%= form.select :scoring_method, { 'Classic scoring': 2, 'Weighted scoring': 1 }%>
      </div>
    <% end %>

    <div>
    <% if Setting.find(12).state %>
      <%= form.check_box :broadcast_brainstorm, {checked: false}, true, false %> Send a notification about this brainstorm to all members
    <% end %>
    </div>

  </div>

  <%= form.submit "Create", id: :submit_brainstorm %>

<% end %>