<div class="issue">
  <div class="post-outer show-post">
  <%= render(:partial => 'static/post-stuff', :locals => {:post => @problem.post})%>
  
  <div class="problem-title-outer">

    <!-- <div class="flex-container"> -->

      <div class="issue-title view">
        
        <h3>

        <% if @problem.goal %>
          <span class="referenced-goal"><strong><%= link_to @problem.goal.title, goal_path(@problem.goal) %></strong></span>
          <i class="fas fa-arrow-right"></i>
        <% end %>
        
        <strong><%= @problem.title %></strong> <span class="feed-label">Solver</span></h3>
        
      </div>


    <!-- </div> -->

    <% if false && @problem.goal %>
      <div class="proposal-activity-description">
        <i class="fas fa-link"></i>
        Attached to goal <strong><%= link_to @problem.goal.title, goal_path(@problem.goal) %></strong>
      </div>
    <% end %>

    <!-- <div class="issue-info">
      <div>
        <i class="fas fa-handshake"></i>
        <%= @problem.user.count %> collaborators
      </div>
      <div>
        <i class="fas fa-clipboard-list"></i>
        <%= @problem.criterium.count %> criteria
      </div>
      <div>
        <i class="fas fa-comment-alt"></i> 
        <%= @problem.solution.count %> proposals
      </div>
      <div class="post-signature">
        <i class="fas fa-clock"></i>
        Created <%= time_ago_in_words(@problem.created_at) %> ago
        by
        <em><%= 
        begin 
          User.find(@problem.creator).name
        rescue 
        end  %></em>
      </div>
    </div> -->

    <div class="issue-info">
      <div class="underline">
      <%if @problem.user.include?(@user)%>
          <span class="crisupport-count tooltip-toggle" href="#" aria-label="Remove me from this process" tabindex="0">
            <%= link_to unsponsor_problem_path(:problem_id => @problem.id), :method => "post" do %>
              <i class="fas fa-user-slash"></i> Leave
            <%end%>
          </span>
        <%else%>
          <span class="crisupport-count tooltip-toggle" href="#" aria-label="Add me to this process" tabindex="0">
            <%= link_to sponsor_problem_path(:problem_id => @problem.id), :method => "post" do %>
              <i class="fas fa-user-plus"></i> Join
            <%end%>
          </span>
        <%end%>
      </div>

      <% if current_user && @problem.facilitator_id && @problem.facilitator_id == current_user.id%>
      <div><%= link_to edit_problem_path(@problem) do %><i class="fas fa-pen"></i> Edit<%end%></div>
      <%end%>

      <div id="open-collaborators" class="underline">
        <i class="fas fa-users"></i>
        <%= pluralize(@problem.user.count, 'collaborator') %>
      </div>

      <div>
        <% if @problem.facilitator_id && @problem.facilitator_id > 0 %>
          <i class="fas fa-user-shield"></i>
          <% facilitator = User.find(@problem.facilitator_id) %>
          Facilitator: 
          <!-- <span class="comment-user-info"><%= gravatar_for(User.find(@problem.facilitator_id)) %></span> -->
          <strong><%= link_to facilitator.name, facilitator %></strong>
        <% else %>
          <!-- <i class="fas fa-user-shield"></i> -->
          <!-- Distributed facilitation -->
        <% end %>
      </div>

      <% if false %>
      <div>
      <div id="open-share-div" class="underline">
        <i class="fas fa-share"></i>
        Share/invite
      </div>
      <div id="share-div">
        <%= render(:partial => 'problems/share') %>
      </div>
      </div>
      <% end %>

    </div>

  </div>

      <div class="right-buttons">

        <div id="open-discussion">
          <i class="fas fa-comments"></i>
          <!-- Conversation -->
          (<%= @discussion.comment.count %>)
        </div>

      </div>
  </div>
</div>

<% if @problem.description.length > 0 %> 
  <p class="issue-description"><%= @problem.description.gsub(URI.regexp, '<a target="_blank" href="\0">\0</a>').html_safe %></p>
<% end %>


<!-- DETAILS ENDS -->
    
<!-- <div id="refresh"><%= button_to request.env['PATH_INFO'], :method => :get, :class => 'button button-hollow' do %>
  <i class="fas fa-sync"></i> Refresh
<% end %> <em>(for current information)</em></div> -->