<div class="top-flex">
<div class="white-container">
<div id="solver">

<%= render 'problem_details' %>

<!-- EXTRA-SECTIONS -->

    <!-- CRITERIA -->

    <!-- <div class="top-left"> -->

    <div class="criteria-outer">

      <h2 id="criteria">
        <i class="fas fa-clipboard-list"></i>
        <%= @criteria_count %> <%= "Criteria" if @criteria_count != 1 %> <%= "Criterion" if @criteria_count == 1 %>
      </h2>

      <div>
        <%# if @problem.criterium.count > (@my_criteria.count + @criteria.count) %>
        <% if @problem.criterium.count > @criteria_count %>
          <%= link_to full_criterium_path( :problem_id => @problem.id, :view => "suggested"), :class => "button button-hollow" do %>
            <i class="fas fa-clipboard-list"></i> 
            <% if @problem.scoring_method && @problem.scoring_method == 1 %>
              Abandoned criteria
            <% else %>
              Suggestions
            <% end %>

            (<%= @problem.criterium.count - @criteria_count %>)
          <% end %>
          &nbsp;
        <% end %>


        <span class="crisupport-count red tooltip-toggle" href="#" aria-label="Add a criterion to the list. If you are not the facilitator, it will get added to suggestions." tabindex="0">
          <%#= link_to "+ Criterion", new_criterium_path( :problem_id => @problem.id), :class => "button green"  %>
          <button id="open-new-criterion-div" class="button green">+ Criterion</button>
        </span>

      </div>

      <% if @criteria_count > 0 %>
        <div id="issue-criteria" class="issue-criteria-main">
          <div class="criteria-list">
            <%# @my_criteria.each do |criterium| %>
              <%#= render(:partial => 'criteria/criterium-mini', :locals => {:criterium => criterium})%>
            <%# end %>

            <% if params[:criteria] == "all" %>
              <%= link_to issue_path( :problem_id => @problem.id), :class => "center" do %>
                <div class="button button-hollow center" style="margin: 6px 0">
                  <i class="fas fa-chevron-up"></i>
                  Collapse criteria
                </div>
              <% end %>
            <% end %>

            <% @criteria.each do |criterium| %>
              <%= render(:partial => 'criteria/criterium-mini', :locals => {:criterium => criterium})%>
            <% end %>

            <%# if @criteria_count >= 8 && @all_criteria.count.count > @criteria.count %>
            <% if @criteria_count >= 8 && @all_criteria.count.count > @criteria.count %>
              <!-- <div class="criterium" > -->
                <div class="criterium-top">

                <%= link_to issue_path( :problem_id => @problem.id, :criteria => "all"), :class => "center" do %>
                  <div class="button button-hollow center" style="margin: 6px 0">
                    <i class="fas fa-chevron-down"></i> <%= @all_criteria.count.count - @criteria.count %> more criteria... (click to view all)
                  </div>
                <% end %>

                </div>
              <!-- </div> -->
            <% end %>

            <% if params[:criteria] == "all" %>
              <%= link_to issue_path( :problem_id => @problem.id), :class => "center" do %>
                <div class="button button-hollow center" style="margin: 6px 0">
                  <i class="fas fa-chevron-up"></i>
                  Collapse criteria
                </div>
              <% end %>
            <% end %>

          </div>
        </div>
      <% end %>

    </div>

<!-- CRITERIA ENDS -->

<!-- SOLUTIONS -->

  <div class="solutions-outer">

    <h2 id="solutions">
      <i class="fas fa-file-alt"></i>
      
      <%= pluralize(@solutions.count, 'Proposal') %>

    </h2>

    <% if @solutions.count > 0 %>
    <!-- <em>Click on proposals to view evaluations</em><br><br> -->
    <% end %>

    <div>
    <% if @problem.solution.count > 0 && @problem.criterium.count > 0 %>
        <span class="tooltip-toggle" href="#" aria-label="Click to view table, where you can evaluate multiple proposals at the same time, and see aggregate results. If you would like to view and evaluate one proposal at a time, click on the individual proposals below." tabindex="0">
        <%= link_to brainstorm_table_path( :problem_id => @problem.hashid), :class => "button button-hollow" do %>
          <i class="fas fa-eye"></i> View as table
        <% end %>
        &nbsp;
      </span>
    <% end %>

        <span class="tooltip-toggle" href="#" aria-label="Add a proposal to the list. To combine elements of different proposals into a new one, right click and open the new proposal form in a new tab, and copy and paste the elements into it." tabindex="0">
          <%= link_to '+ Proposal', new_solution_path(:problem_id => @problem.id), :class => "button green" %>
        </span>
    </div>
    
    <ol class="solutions">
      <% @solutions.each do |solution| %>
        <li>
          <div class="solution-item">

            <%= link_to solution_path(:problem_id => solution.problem.hashid, :solution_id => solution.hashid) do %>

              <div>
                <strong><%= solution.title %></strong>
              </div>

              <% #if !@problem.scoring_method || @problem.scoring_method == 1 %>
              <% if !@problem.facilitator_id %>
                <div class="score-bar-outer">
                  <div class="score-bar-inner" style="background-color: #4defa7; width: <%= solution.score %>%" ></div>
                  <div class="written-criterion-score">
                    <%= solution.score %>%
                  </div>

                </div>
              <% #elsif @problem.scoring_method == 2 %>
              <% elsif @problem.facilitator_id %>
                <!-- <div class="unmet-criteria-score"> -->
                  <%
                    polls = Poll.where(solution_id: solution.id) if Poll.where(solution_id: solution.id).count > 0 
                    
                    # basic_score = solution.score
                    # basic_score = (polls.average(:answer) * 100).round if polls
                    # basic_score = 0 if !polls
                  %>

                  <% if solution.score %>
                  <div class="score-bar-outer">
                    <div class="score-bar-inner" style="
                    background-color: rgba(82, 240, 191, <%=solution.score * 0.01%>);
                    width: <%= solution.score %>%;" ></div>
                    <div class="written-criterion-score">
                      <%= solution.score %>% convergence (<%= pluralize(poll_count(solution.id), 'poll') %>)
                    </div>

                  </div>
                  <% end %>

                <!-- </div> -->
              <% #elsif @problem.scoring_method == 3 %>
              <% elsif false %>
                (Met criteria: 
                <% polls = Poll.where(solution_id: solution.id) if Poll.where(solution_id: solution.id).count > 0 %>
                <span class="percentage" colspan="2"><%= ( (polls.average(:answer) * 100).round ) if polls %> <%= 0 if !polls %>%</span>)
              <% end %>

              <!-- <div class="float-right button small-button button-hollow"><i class="fas fa-eye"></i> Click to open</div> -->
              <div class="float-right"><i class="fas fa-eye"></i> Click to open</div>

            <% end %>
           
            <% if solution.user.count >= @problem.suggestion_min && solution.activity %>
              <%= link_to action_path(:activity_id => solution.activity.id), class: "button button-view" do %>
                <em>View action</em>
              <% end %>
            <% end %>

          </div>
        </li>
      <% end %>
    </ol>

    <span id="paginate_solutions"><%= will_paginate @solutions %></span>

  </div>
  <!-- SOLUTIONS ENDS --->

<!-- <script type="text/javascript">
  let columns = <%= @criteria_count < 4? 1 : 4 %>
  $('.criteria-list').css('column-count', columns)
</script> -->


<%= render 'problem_bottom' %>
