<div class="top-flex">
<div class="white-container">
<div id="solver">

  <div class="issue">
    <div class="flex-container">

      <div class="issue-title view">
        <%if @problem.user.include?(@user)%>
          <span class="crisupport-count tooltip-toggle" href="#" aria-label="Remove me from this process" tabindex="0">
            <%= link_to unsponsor_problem_path(:problem_id => @problem.id), :method => "post", :class => "darkgray" do %>
              <i class="fas fa-thumbtack"></i>
            <%end%>
          </span>
        <%else%>
          <span class="crisupport-count tooltip-toggle" href="#" aria-label="Add me to this process" tabindex="0">
            <%= link_to sponsor_problem_path(:problem_id => @problem.id), :method => "post", :class => "lightgray" do %>
              <i class="fas fa-thumbtack"></i>
            <%end%>
          </span>
        <%end%>
        &nbsp;<h3><strong><%= @problem.title %></strong></h3>
        
      </div>

      <div class="right-buttons">

        <div id="open-discussion">
          <i class="fas fa-comments"></i>
          Conversation
          (<%= @discussion.comment.count %>)
        </div>

      </div>

    </div>

    <% if @problem.goal %>
      <div class="proposal-activity-description">
        <i class="fas fa-link"></i>
        Attached to goal <strong><%= link_to @problem.goal.title, goal_path(@problem.goal) %></strong>
      </div>
    <% end %>

    <!-- <div class="issue-info">
      <div>
        <i class="fas fa-handshake"></i>
        <%= @problem.user.count %> collaborators
      </div>
      <div>
        <i class="fas fa-clipboard-list"></i>
        <%= @problem.criterium.count %> criteria
      </div>
      <div>
        <i class="fas fa-comment-alt"></i> 
        <%= @problem.solution.count %> proposals
      </div>
      <div class="post-signature">
        <i class="fas fa-clock"></i>
        Created <%= time_ago_in_words(@problem.created_at) %> ago
        by
        <em><%= 
        begin 
          User.find(@problem.creator).name
        rescue 
        end  %></em>
      </div>
    </div> -->

    <div class="issue-info">

      <div id="open-collaborators">
        <i class="fas fa-users"></i>
        <%= pluralize(@problem.user.count, 'collaborator') %>
      </div>

      <div>
        <% if @problem.facilitator_id && @problem.facilitator_id > 0 %>
          <i class="fas fa-user-shield"></i>
          <% facilitator = User.find(@problem.facilitator_id) %>
          Facilitator: 
          <!-- <span class="comment-user-info"><%= gravatar_for(User.find(@problem.facilitator_id)) %></span> -->
          <strong><%= link_to facilitator.name, facilitator %></strong>
        <% end %>
      </div>

      <% if true %>
      <div>
      <div id="open-share-div">
        <i class="fas fa-share"></i>
        Share
      </div>
      <div id="share-div">
        <%= render(:partial => 'problems/share') %>
      </div>
      </div>
      <% end %>

    </div>

    </div>

    <% if @problem.description.length > 0 %> 
      <p class="issue-description"><%= @problem.description.gsub(URI.regexp, '<a target="_blank" href="\0">\0</a>').html_safe %></p>
    <% end %>


    <!-- DETAILS ENDS -->
        
    <div id="refresh"><%= button_to request.env['PATH_INFO'], :method => :get, :class => 'button button-hollow' do %>
      <i class="fas fa-sync"></i> Refresh
    <% end %> <em>(for current information)</em></div>

<!-- EXTRA-SECTIONS -->

    <!-- CRITERIA -->

    <!-- <div class="top-left"> -->

    <div class="criteria-outer">

      <h2 id="criteria">
        <i class="fas fa-clipboard-list"></i>
        <%= @criteria_count %> <%= "Criteria" if @criteria_count != 1 %> <%= "Criterion" if @criteria_count == 1 %>
      </h2>

      <div>
        <% if @problem.criterium.count > (@my_criteria.count + @criteria.count) %>
          <%= link_to full_criterium_path( :problem_id => @problem.id), :class => "button button-hollow" do %>
            <i class="fas fa-clipboard-list"></i> 
            Suggestions
            (<%= @problem.criterium.count - @criteria_count %>)
          <% end %>
          &nbsp;
        <% end %>


        <span class="crisupport-count red tooltip-toggle" href="#" aria-label="Add a criterion to the list. If you are not the facilitator, it will get added to suggestions." tabindex="0">
          <%= link_to "+ Criterion", new_criterium_path( :problem_id => @problem.id), :class => "button green"  %>
        </span>

      </div>

      <% if @criteria_count > 0 %>
        <div id="issue-criteria">
          <div class="criteria-list">
            <% @my_criteria.each do |criterium| %>
              <%= render(:partial => 'criteria/criterium-mini', :locals => {:criterium => criterium})%>
            <% end %>
            <% @criteria.each do |criterium| %>
              <%= render(:partial => 'criteria/criterium-mini', :locals => {:criterium => criterium})%>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>

<!-- CRITERIA ENDS -->

<!-- SOLUTIONS -->

  <div class="solutions-outer">

    <h2 id="solutions">
      <i class="fas fa-file-alt"></i>
      
      <%= pluralize(@solutions.count, 'Proposal') %>

    </h2>

    <% if @solutions.count > 0 %>
    <!-- <em>Click on proposals to view evaluations</em><br><br> -->
    <% end %>

    <div>
    <% if @problem.solution.count > 0 && @problem.criterium.count > 0 %>
        <span class="tooltip-toggle" href="#" aria-label="Here you can evaluate how well multiple proposals attend to criteria at the same time, as well as see how the group has evaluated them.  If you would like to evaluate each proposal one at a time, click on the individual proposals." tabindex="0">
        <%= link_to brainstorm_table_path( :problem_id => @problem.hashid), :class => "button button-hollow" do %>
          <i class="fas fa-table"></i> Table
        <% end %>
        &nbsp;
      </span>
    <% end %>

        <span class="tooltip-toggle" href="#" aria-label="Add a proposal to the list. To combine elements of different proposals into a new one, right click and open the new proposal form in a new tab, and copy and paste the elements into it." tabindex="0">
          <%= link_to '+ Proposal', new_solution_path(:problem_id => @problem.id), :class => "button green" %>
        </span>
    </div>
    
    <ol class="solutions">
      <% @solutions.each do |solution| %>
        <li>
          <div class="solution-item">

            <%= link_to solution_path(:problem_id => solution.problem.hashid, :solution_id => solution.hashid) do %>

              <div>
                <strong><%= solution.title %></strong>
              </div>

              <% #if !@problem.scoring_method || @problem.scoring_method == 1 %>
              <% if !@problem.facilitator_id %>
                <div class="score-bar-outer">
                  <div class="score-bar-inner" style="background-color: #4defa7; width: <%= solution.score %>%" ></div>
                  <div class="written-criterion-score">
                    <%= solution.score %>%
                  </div>

                </div>
              <% #elsif @problem.scoring_method == 2 %>
              <% elsif @problem.facilitator_id %>
                <!-- <div class="unmet-criteria-score"> -->
                  <%
                    polls = Poll.where(solution_id: solution.id) if Poll.where(solution_id: solution.id).count > 0 
                    
                    # basic_score = solution.score
                    # basic_score = (polls.average(:answer) * 100).round if polls
                    # basic_score = 0 if !polls
                  %>

                  <% if solution.score %>
                  <div class="score-bar-outer">
                    <div class="score-bar-inner" style="
                    background-color: rgba(82, 240, 191, <%=solution.score * 0.01%>);
                    width: <%= solution.score %>%;" ></div>
                    <div class="written-criterion-score">
                      <%= solution.score %>% convergence (<%= pluralize(poll_count(solution.id), 'poll') %>)
                    </div>

                  </div>
                  <% end %>

                <!-- </div> -->
              <% #elsif @problem.scoring_method == 3 %>
              <% elsif false %>
                (Met criteria: 
                <% polls = Poll.where(solution_id: solution.id) if Poll.where(solution_id: solution.id).count > 0 %>
                <span class="percentage" colspan="2"><%= ( (polls.average(:answer) * 100).round ) if polls %> <%= 0 if !polls %>%</span>)
              <% end %>

            <% end %>
           

            <% if solution.user.count >= @problem.suggestion_min && solution.activity %>
              <%= link_to action_path(:activity_id => solution.activity.id), class: "button button-view" do %>
                <em>View action</em>
              <% end %>
            <% end %>

          </div>
        </li>
      <% end %>
    </ol>

    <span id="paginate_solutions"><%= will_paginate @solutions %></span>

  </div>
  <!-- SOLUTIONS ENDS --->

  <!-- </div> -->
  <!-- TOP-FLEX ENDS --->

<!-- <div id="extra-sections-outer">
</div> -->

<!-- EXTRA-SECTIONS ENDS -->



</div> <!-- SOLVER ENDS -->

</div> <!-- WHITE CONTAINER ENDS -->

<!-- DISCUSSION -->
<div class="discussion-extraouter">
  <h2>
    <i class="fas fa-comments" ></i> Conversation
    (<%= @discussion.comment.count %>)
   <!--  <%= link_to discussion_path(@discussion), :id => "full-discussion-view" do %>
      Full view
    <% end %> -->
    <i class="fas fa-times float-right" id="close-discussion"></i>
  </h2>
  <%= render(:partial => 'discussions/discussion-mini', :locals => {:@discussion => @discussion}) if Setting.find(4).state %>
</div> <!-- DISCUSSION ENDS -->

</div> <!-- TOP-FLEX ENDS -->


<!-- <script type="text/javascript">
  let columns = <%= @criteria_count < 4? 1 : 4 %>
  $('.criteria-list').css('column-count', columns)
</script> -->

<div id="collaborators-list">
  <div class="objection-list-inner">
    <i class="fas fa-times close-window"></i>
    <h2>Collaborators for "<%= @problem.title %>"</h2>

    <!-- <div><%= request.url%></div> -->

    <ul>
    <% if false %>
      <div><%= render(:partial => 'problems/share') %></div>
    <% end %>

    <div id="add-collaborators" class="button">+ Add collaborators</div><br>

    <% @problem.user.each do |user| %>
    
    <%= link_to(user) do %>
    <li>
      <%= gravatar_for(user) %>
      <strong><%= user.name %></strong>
      <br><br>
      <!-- <%= user.email %> -->
    </li>
    <%end%>

  <% end %></ul>
  </div>
</div>

<script type="text/javascript">
  $('#open-collaborators').click( function() {
    $('#collaborators-list').show()
  })

  $('#collaborators-list').find('.close-window').click(function(){
    $('#collaborators-list').hide()
  })

  $('#close-share-div').click( function(){
    $('#share-div').hide()
  })

  $('#open-share-div').click(function(){
    $('#share-div').toggle()
  })

  $('#add-collaborators').click(function(){
    $('#collaborators-list').hide()
    $('#share-div').show()
  })

  var openDiscussion = function() {
    $('.discussion-extraouter').show()
    $('#open-discussion').hide()
    $('.criteria-list').addClass('two-column')
    // if (jQuery(window). width() >= 700) {
    //   $('.white-container').show()
    // }
    localStorage.setItem('dcan-discussion-show-desktop', 'True');
  }

  var closeDiscussion = function() {
    $('.discussion-extraouter').hide()
    $('#open-discussion').show()
    $('.criteria-list').removeClass('two-column')
    // if (jQuery(window). width() < 700) {
    //   $('.white-container').hide()
    // }
    localStorage.setItem('dcan-discussion-show-desktop', 'False');
  }

  $(document).ready(function() {
    <% if logged_in? && @discussion.comment.count > 0 %>
      if (localStorage.getItem('dcan-discussion-show-desktop') != 'False') {
        localStorage.setItem('dcan-discussion-show-desktop', 'True');
      }

      <% if params[:discussion] == 'open' %>
        localStorage.setItem('dcan-discussion-show-desktop', 'True');
      <% end %>
    <% else %>
      $('.discussion-extraouter').hide()
      $('#open-discussion').show()
      $('.criteria-list').removeClass('two-column')
    <% end %>

    var showDiscussionDesktop = localStorage.getItem('dcan-discussion-show-desktop')
    
    if (showDiscussionDesktop == 'True') {
      openDiscussion()
    } else if (showDiscussionDesktop == 'False') {
      closeDiscussion()
    }
    // localStorage.setItem('dcan-discussion-show-desktop', 'False');
  })

  $('#close-discussion').click(function(){
    closeDiscussion()

    url = window.location.href
    if (url.indexOf('?discussion') > 0) {
      window.location = url.slice(0, url.indexOf('?discussion') )      
    }
  })

  $('#open-discussion').click(function(){
    openDiscussion()
  })
</script>