<div class="backdrop">

<% provide(:title, 'All Members') %>
<h1><%= @users.count %> members</h1>

<% if current_user.admin? %> 
  <%= link_to "Add Member", add_path, :class => "button" %>
<% end %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
        <% if current_user.admin? && !current_user?(user) %> 
        	| <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "Delete member?" } %>
  <% end %>
    </li>
  <% end %>
</ul>

<span class="paginate-users">
<%= will_paginate %>
</span>

</div>