<%    
  @user = current_user
  @commitments = @user.rolls
  @sponsored_problems = @user.problems
  @proposals = @user.solutions
  @current_time = Time.now.to_i
%>

<% if @commitments.count > 0 || @sponsored_problems.count > 0 || @proposals.count > 0 %>
<div id="dashboard-mini">
  <% if @commitments.count > 0 %>
    <div class="dashboard-item mini card-item">

      <h2>
        <!-- <i class="fas fa-users"></i> -->
        My Commitments
      </h2>

      <!-- <h2>
        <i class="fas fa-calendar-check"></i>
        Activated commitments
      </h2> -->
      <ul>
        <% @commitments.each do |commitment| %>
          <% if commitment.user.count >= commitment.minimum && !commitment.activity.roll.last.user.include?(@user) && (!commitment.activity.expiration || commitment.activity.expiration > @current_time) %>
            <%= link_to  action_path(commitment.activity.id) do %>
              <li> 
                <i class="fas fa-calendar-check"></i>
                <%= commitment.activity.title %> 
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>

      <!-- <h2>
        <i class="far fa-calendar"></i>
        Unactivated commitments
      </h2> -->
      <ul>
      	<% @commitments.each do |commitment| %>
          <% if commitment.user.count < commitment.minimum && !commitment.activity.roll.last.user.include?(@user) && (!commitment.activity.expiration || commitment.activity.expiration > @current_time) %>
        		<%= link_to  action_path(commitment.activity.id) do %>
              <li> 
                <i class="far fa-calendar"></i>
                <%= commitment.activity.title %> 
                (<%= commitment.activity.roll.first.user.count %>/<%= commitment.activity.roll.first.minimum %>)
              </li>
            <% end %>
          <% end %>
      	<% end %>
      </ul>
  </div>
  <% end %>


  <% if @sponsored_problems.count > 0 %>
  <div class="dashboard-item mini card-item">
    <h2>
      My Brainstorms
    </h2>
    <ul>
      <% @sponsored_problems.each do |problem| %>
        <%= link_to issue_path(problem) do %>
          <li> 
            <i class="fas fa-handshake"></i>
            <%= problem.title %> 
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% end %>
<!-- 
  <% if @proposals.count > 0 %>
  <div class="dashboard-item mini">
    <h2>
      My Proposals
    </h2>
    <ul>
      <% @proposals.each do |solution| %>
        <%= link_to solution_path(:problem_id => solution.problem_id, :solution_id => solution.id) do %>
          <li> 
            <i class="fas fa-comment-alt"></i>
            <%= solution.title %> 
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% end %> -->

<% end %>