<% if logged_in? %>

<ol class="home-actions">

<% if current_user && current_user.admin? %>
  <li>
    <%= link_to settings_path, :class => "button button-hollow" do %>
      <i class="fas fa-cog"></i>
      Settings
    <% end %>
  </li>
<% end %>
<% if current_user && current_user.superadmin? %>

  <li>
    <%= link_to main_feed_path(:sort => 'new'), :class => "button button-hollow" do %>
      <i class="fas fa-list"></i>
      Feed
    <% end %>
  </li>
<% end %>

</ol>

<% if @notifications.length > 0 && false %>
  <div class="home-notifications">
    <div class="flex-container">
      <h1><i class="fas fa-bell"></i> Notifications 
        <%= link_to 'Mark all read', clear_notifications_path, :method => "post", :class => "button button-hollow" %>
      </h1>
    </div>

    <ol id="notifications">
    <% @notifications.each do |notification| %>
      <%= link_to notification_redirect_path(:notification_id => notification.id) do %>
        <li class="unread" >
          <%= notification.details %>
        </li>
      <% end %>
    <% end %>
    </ol>
  </div>
<% end %>

<% if @sponsored_problems.length > 0 %>
  <div class="dashboard-item">
    <h1>
      <i class="fas fa-hands-helping" style="color: #ec6f68;"></i>
      Collaborations
    </h1>

    <p>To start a new Convergent Facilitation process, click "New collaboration" above and follow the prompts.
    </p>
    <!-- <p>You can find trainings and resources at <a target="_blank" style="color: #5454ff" href="https://convergentfacilitation.org/">convergentfacilitation.org <i class="fas fa-share-square"></i></a></p> -->

    <ul>
      <% @sponsored_problems.each do |problem| %>
        <%= link_to issue_path(problem) do %>
          <li class="home-item home-item-underlined">
          <!-- <li class="home-item"> <%= problem.title %> </li> -->
              <div class="issue">
                <div class="issue-title"><span class="underline"><%= problem.title %></span></div>

                  <% if false && problem.goal %>
                    <div class="proposal-activity-description">
                      <i class="fas fa-link"></i>
                      Attached to goal <strong>"<%= problem.goal.title %>"</strong>
                    </div>
                  <% end %>

                  <% if problem.facilitator_id && problem.facilitator_id != current_user.id && problem.facilitator_id > 0 %>
                    <div class="facilitator">
                        <i class="fas fa-user-shield"></i>
                        <% facilitator = User.find(problem.facilitator_id) %>
                        Facilitator: 
                        <strong><%= User.find(problem.facilitator_id).name %></strong>
                    </div>
                  <% end %>
                  <% if problem.facilitator_id && problem.facilitator_id == current_user.id %>
                    <div class="facilitating">
                      <i class="fas fa-star"></i>
                      Facilitating
                    </div>
                  <% end %>

                  <div class="issue-info">
                    <div id="open-collaborators">
                      Collaborators<br>
                      <div><i class="fas fa-users"></i>
                      <strong><%= problem.user.count %></strong></div>
                    </div>
                    <div>
                      Proposals<br>
                      <div><i class="fas fa-file"></i>
                      <strong><%= problem.solution.count %></strong></div>
                    </div>
                    <div>
                      Criteria<br>
                      <div><i class="fas fa-clipboard-check"></i>
                      <strong><%= problem.criterium.joins(:user).group("criteria.id").count.count %></strong></div>
                    </div>

                    <!-- <div class="post-signature">
                      <i class="fas fa-clock"></i>
                      <%= time_ago_in_words(problem.created_at) %> ago
                      by
                      <em><%= 
                      begin 
                        User.find(problem.creator).name
                      rescue 
                      end  %></em>
                    </div> -->

                  </div>
                </div>
              </li>

        <% end %>
      <% end %>
    </ul>
  </div>

<p>You can find trainings and resources about Convergent Facilitation at <a target="_blank" style="color: #5454ff" href="https://convergentfacilitation.org/">convergentfacilitation.org <i class="fas fa-share-square"></i></a></p>
<p>You can help us maintain this platform by <a target="_blank" style="color: #5454ff"  href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=XBL69M4KUQVTC&source=app">supporting it financially <i class="fas fa-share-square"></i><!-- <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif"></a> --></p>
<% end %>

<% false && if @proposals.length > 0 %>
<div class="dashboard-item">
  <h1>
    <i class="fas fa-comment-alt"></i>
    My proposals
  </h1>
  <ul>
    <% @proposals.each do |solution| %>
      <%= link_to solution_path(:problem_id => solution.problem_id, :solution_id => solution.id) do %>
        <li class="home-item"> <%= solution.title %> </li>
      <% end %>
    <% end %>
  </ul>
</div>
<% end %>

<% if @sponsored_problems.length == 0 %>
  <p>You're signed in! To start a new Convergent Facilitation process, click "<i class="fa fa-plus-circle"></i> New collaboration" in the toolbar.</p>
  <p>If you are new to Convergent Facilitation, we recommend taking a class or reading the book before using this app. You can learn more at <a target="_blank" style="color: #5454ff" href="https://convergentfacilitation.org/">our official website <i class="fas fa-share-square"></i></a></p>

  <!-- <p>If you need guidance using the tools, hover over the <i class="far fa-question-circle"></i> icon wherever it appears.</p> -->
<% end %>

<% else %>
  <h1>Welcome to Convergence!</h1>
  <p>This app is a tool to aid in Convergent Facilitation processes.</p>

  <p>If you are new to Convergent Facilitation, we recommend taking a class or reading the book before using this app. You can learn more at <a target="_blank" style="color: #5454ff" href="https://convergentfacilitation.org/">our official website <i class="fas fa-share-square"></i></a></p>

  <p>To get started, use the form above to sign in.</p>
<% end %>