<div id="main-feed">

 <!--  <%= link_to main_feed_path do %>
	  <i class="fas fa-sort"></i>
    <% if params[:sort] == 'new' %>
    	popular
    <% else %>
    	<span class="underline-permanent">popular</span>
    <% end %>
  <% end %>

	&nbsp;

  <%= link_to main_feed_path(:sort => 'new') do %>
    <% if params[:sort] == 'new' %>
    	<span class="underline-permanent">new</span>
    <% else %>
    	new
    <% end %>
  <% end %> -->

	<div class="flex-container">
		<ol class="new-posts">
	  <% @posts.each do |post| %>
			<% #if post.upvotes.count > 0 %>
				<% if post.link_id %>
					<%= render(:partial => 'post-stuff', :locals => {:post => post})%>
  				<%= link_to goal_path(:goal_id => Goal.find(post.link.child.hashid), :view => "public") do %>
	          <div class="issue">
	          	<div class="goal-title"><span class="underline"><%= Goal.find(post.link.parent.id).title %> <i class="fas fa-link"></i> <%= Goal.find(post.link.child.id).title %></span> <span class="feed-label">Goal</span></div>
		            <div class="issue-info">

		              <div class="post-signature">
		                Created <%= time_ago_in_words(post.created_at) %> ago
		      					• by <em><%= 
				            begin 
				              post.upvotes.first.user.name
				            rescue 
				            end  %></em>
		              </div>•

		              <!-- <br> -->

		              <div>
		                <!-- <i class="fas fa-handshake"></i> -->
		                <%= Link.find(post.link_id).user.count %> adopters
		              </div>

	            	</div>
						</div>
					<% end %>

				<% elsif post.activity %>
			  	
					<% if (post.activity.deadline && post.activity.deadline > @current_time) || (post.activity.expiration && post.activity.expiration > @current_time) || (!post.activity.deadline && !post.activity.expiration) %>
						<%= render(:partial => 'post-stuff', :locals => {:post => post})%>

						<%= link_to action_path(post.activity.hashid) do %>
						  <li class="proposal">
								<%= render(:partial => 'activities/activity', :locals => {:activity => post.activity})%>
						  </li>
						<% end %>
					<% end %>
				<% elsif post.problem %>

				<%= render(:partial => 'post-stuff', :locals => {:post => post})%>
				<%= link_to issue_path(post.problem) do %>
	        <% #if post.problem.user.count > 0 %>
	          <div class="issue">
	            <div class="issue-title"><span class="underline"><%= post.problem.title %></span> <span class="feed-label">Brainstorm</span></div>

					      <% if post.problem.goal %>
					        <div class="proposal-activity-description">
					          <i class="fas fa-link"></i>
					          Attached to goal <strong>"<%= post.problem.goal.title %>"</strong>
					        </div>
					      <% end %>

		            <div class="issue-info">
		              <div class="post-signature">
		                <!-- <i class="fas fa-calendar"></i> -->
		                Created <%= time_ago_in_words(post.problem.created_at) %> ago
          					by
          					<em><%= 
				            begin 
				              User.find(post.problem.creator).name
				            rescue 
				            end  %></em>
		              </div>
		              <br>
		              <div>
		                <i class="fas fa-handshake"></i>
		                <%= post.problem.user.count %> collaborators
		              </div>
		              <div>
		                <i class="fas fa-clipboard-list"></i>
		                <%= post.problem.criterium.count %> criteria
		              </div>
		              <div>
		                <i class="fas fa-comment-alt"></i>
		                <%= pluralize(post.problem.solution.count, "proposal") %>
		              </div>
		  

		            </div>
		          </div>

		      <% end %>


				<% elsif post.discussion %>
					<%= render(:partial => 'post-stuff', :locals => {:post => post})%>
					<%= link_to discussion_path(post.discussion) do %>
	          <div class="discussion">

							<div class="discussion-title"><span class="underline"><%= post.discussion.title %></span>
							<span class="feed-label">Discussion</span></div>

				      <% if post.discussion.goal %>
				        <div class="proposal-activity-description">
				          <i class="fas fa-link"></i>
				          Attached to goal <strong>"<%= post.discussion.goal.title %>"</strong>
				        </div>
				      <% end %>

							<div class="issue-info">
	              <div class="post-signature">
	                <!-- <i class="fas fa-calendar"></i> -->
	                Created <%= time_ago_in_words(post.discussion.created_at) %> ago
        					by
        					<em><%= 
			            begin 
			              User.find(post.discussion.creator).name
			            rescue 
			            end  %></em>
	              </div>
	              <br>
	              <div>
	                <i class="fas fa-comment-dots"></i>
	                <%= pluralize(post.discussion.comment.count, "comment") %>
	              </div>
	            </div>
						</div>
		      <% end %>
				<% end %>

				<!-- <hr> -->

		<% end %>
		
		<span id="paginate_solutions"><%= will_paginate @posts %></span>

		</ol>

		<ol class="side-card">

		  <!-- <div id="post-something"> 
  			<%= link_to 'New Post', new_discussion_path if logged_in? %>
		  </div> -->

		  <%= render(:partial => 'static/commitments-mini') if logged_in? && !Setting.find(14).state %>

			<% if logged_in? && @notifications.length > 0 && false %>
		  <div class="card-item">

		  	<div class="flex-container">
		  		<h2>Notifications</h2>
		  		<%= link_to "view all", notifications_path, :id => "all-notifications" %>
		  	</div>

				<ol id="notifications">
				<% @notifications.each do |notification| %>
				  <%= link_to notification_redirect_path(:notification_id => notification.id) do %>
      			<li class="unread" >
							<%= notification.details %>
						</li>
				  <% end %>
				<% end %>
				</ol>

			</div>
	  	<% end %>

		</ol>
	</div>

</div>

<br><br>