<div id="solver">

<!-- <div class="back-button">
  <%= link_to main_feed_path do %>
    <div class="back-button-arrow"></div>
    <div class="back-button-content">
      Back
    </div>
  <% end %>
</div> -->

<h1>
  Notifications
  <%= link_to 'Mark all read', clear_notifications_path, :method => "post", :class => "button" %>
</h1>

<ol id="notifications">
<% @notifications.each do |notification| %>
  <%= link_to notification_redirect_path(:notification_id => notification.id) do %>

    <% if notification.criterium %>
      <li <%= 'class=unread' if !notification.read %> >
        The criterion <em><%= notification.criterium.title %></em> <%= notification.details %>
      </li>
    <% elsif notification.problem %>
      <li <%= 'class=unread' if !notification.read %> >
        The brainstorm <em><%= notification.problem.title %></em> <%= notification.details %>
      </li>
    <% elsif notification.discussion %>
      <li <%= 'class=unread' if !notification.read %> >
        <%= notification.details %>
      </li>
    <% elsif notification.activity %>
      <li <%= 'class=unread' if !notification.read %> >
        The action <em><%= notification.activity.title %></em> <%= notification.details %>
      </li>
    <% end %>

  <% end %>
<% end %>
</ol>

<!-- <ol id="notifications">
<% @notifications.each do |notification| %>
	<% if notification.criterium %>
		<%= link_to show_criterium_path(:criterium_id => notification.criterium.hashid) do %>
	  <li <%= 'class=unread' if !notification.read %> >
  		The criterion <em><%= notification.criterium.title %></em> <%= notification.details %>
	  </li>
		<% end %>
	<% elsif notification.problem %>
		<%= link_to show_criterium_path(:criterium_id => notification.problem.hashid) do %>
	  <li <%= 'class=unread' if !notification.read %> >
  		The brainstorm <em><%= notification.problem.title %></em> <%= notification.details %>
	  </li>
		<% end %>
	<% elsif notification.discussion %>
		<%= link_to discussion_path(notification.discussion.hashid) do %>
	  <li <%= 'class=unread' if !notification.read %> >
  		<%= notification.details %>
	  </li>
		<% end %>
	<% elsif notification.activity %>
		<%= link_to action_path(notification.activity.hashid) do %>
	  <li <%= 'class=unread' if !notification.read %> >
  		The action <em><%= notification.activity.title %></em> <%= notification.details %>
	  </li>
		<% end %>
	<% end %>
<% end %>
</ol> -->

<span id="paginate_solutions"><%= will_paginate @notifications %></span>

</div>