<div id="solver">

<h1>
  Notifications
  <%= link_to 'Mark all read', clear_notifications_path, :method => "post", :class => "button" %>
</h1>

<ol id="notifications">
<% @notifications.each do |notification| %>
<div <%= 'class=unread' if !notification.read %>>
  <%= link_to notification_redirect_path(:notification_id => notification.id) do %>

  <div>
    <li <%= 'class=unread' if !notification.read %> >
      <%= notification.details %>
    </li>
  </div>
  <% end %>
</div>
<% end %>
</ol>

<span id="paginate_solutions"><%= will_paginate @notifications %></span>

</div>