<div id="solver">

<h1>
  Notifications
  <%= link_to 'Mark all read', clear_notifications_path, :method => "post", :class => "button" %>
</h1>

<ol id="notifications">
<% @notifications.each do |notification| %>
<div <%= 'class=unread' if !notification.read %>>
  <%= link_to notification_redirect_path(:notification_id => notification.id) do %>

    <li >
      <%= notification.details %>
      <br><%= notification.created_at.strftime("%m/%d/%Y at %H:%M") %>
    </li>

  <% end %>
</div>
<% end %>
</ol>

<span id="paginate_solutions"><%= will_paginate @notifications %></span>

</div>