<div id="solver">

<h1>
  Notifications
  <%= link_to 'Mark all read', clear_notifications_path, :method => "post", :class => "button" %>
</h1>

<ol id="notifications">
<% @notifications.each do |notification| %>
<div <%= 'class=unread' if !notification.read %>>
  <%= link_to notification_redirect_path(:notification_id => notification.id), :style=>"width: 96%;" do %>

  <!-- <div> -->
    <li <%= 'class=unread' if !notification.read %> >
      <%= notification.details %>
      <br><%= notification.created_at.strftime("%m/%d/%Y at %H:%M") %>
    </li>
  <!-- </div> -->
  <% end %>

  <% if !notification.read %>
    <div class="float-right x"><%= link_to clear_notification_path(notification.id), :method => "post" do %>
      <i class="fas fa-times close-window"></i>
    <% end %></div>
  <% end %>


</div>
<% end %>
</ol>

<span id="paginate_solutions"><%= will_paginate @notifications %></span>

</div>