<% if @parents.length > 0 %>
<ul class="branches branches0">
<li>


  <!-- ======================== -->

  <ul class="branches branches1">
  <% @parents.each do |link| %>
    <li>

      <div>
        <% @uplinks_2 = @user.link.where(child_id: link.parent.id).where.not(parent_id: @goal.id) %>      
      </div>
      <!-- <hr> -->
      <% if @uplinks_2.length > 0 %>
        
        <!-- ======================== -->

        <ul class="branches branches2">
          <% @uplinks_2.each do |link2| %>
            <li>
              <!-- <hr> -->
              <% @uplinks_3 = @user.link.where(child_id: link2.parent.id).where.not(parent_id: @goal.id) %>
              <% if @uplinks_3.length > 0  %>
                
                <!-- ======================== -->

                <ul class="branches branches3">
                  <% @uplinks_3.each do |link3| %>
                    <li>
                      <!-- <hr> -->
                      <% @uplinks_4 = @user.link.where(child_id: link3.parent.id).where.not(parent_id: @goal.id) %>
                      <% if @uplinks_4.length > 0  %>

                        <!-- ======================== -->

                        <ul class="branches branches4">
                          <% @uplinks_4.each do |link4| %>
                            <li>


                            <% @uplinks_5 = @user.link.where(child_id: link4.parent.id).where.not(parent_id: @goal.id) %>
                            <% if @uplinks_5.length > 0  %>

                              <!-- ======================== -->

                              <ul class="branches branches5">
                                <% @uplinks_5.each do |link5| %>
                                  <li>
                                    <div class="highlight">
                                      <%= link_to goal_path(link4.parent) do %>
                                        <div class="highlight-title">

                                          <% if @user.link.where(child_id: link5.parent.id).where.not(parent_id: @goal.id).count > 0 %>
                                            <i class="fas fa-caret-up"></i>
                                            <br>
                                          <% end %>

                                          <%= render(:partial => 'link_unlink_links_branches', :locals => {:link => link5, :@goal => link5.child, :view => 'private'})%>

                                        </div>
                                      <% end %>
                                    </div>
                                    
                                  </li>
                                <% end %>
                              </ul>
                              <div class="line"></div>
                              <% end %>

                              <!-- ======================== -->

                              <div class="highlight">
                                <%= link_to goal_path(link4.parent) do %>
                                  <%= render(:partial => 'link_unlink_links_branches', :locals => {:link => link4, :@goal => link4.child, :view => 'private'})%>
                                <% end %>
                              </div>
                              
                            </li>
                          <% end %>
                        </ul>

                        <!-- ======================== -->

                        <div class="line"></div>
                      <% end %>

                      <div class="highlight">
                        <%= link_to goal_path(link3.parent) do %>
                          <%= render(:partial => 'link_unlink_links_branches', :locals => {:link => link3, :@goal => link3.child, :view => 'private'})%>
                        <% end %>
                      </div>
                    </li>
                  <% end %>
                </ul>

                <!-- ======================== -->

                <div class="line"></div>

              <% end %>

              <div class="highlight">
                <%= link_to goal_path(link2.parent) do %>
                  <%= render(:partial => 'link_unlink_links_branches', :locals => {:link => link2, :@goal => link2.child, :view => 'private'})%>
                <% end %>
              </div>

            </li>
          <% end %>
        </ul>
      
        <!-- ======================== -->

        <div class="line"></div>

      <% end %>
    
      <div class="highlight">
        <%= link_to goal_path(link.parent) do %>
          <%= render(:partial => 'link_unlink_links_branches', :locals => {:link => link, :@goal => link.child, :view => 'private'})%>
        <% end %>
      </div>

    </li>
  <% end %>
  </ul>

  <!-- ======================== -->

  <div class="line"></div>


<!-- <div class="highlight short">
  <%= link_to @goal.title, goal_path(@goal) %>
</div> -->

</li>
</ul>
<% end %>
