<% if @public_parents.length > 0 %>
<br><br>
<ul class="branches branches0">
<li>

<% def parent_links(goal_id)
  Link.where(child_id: goal_id).where.not(parent_id: @goal.id)
      .joins(:user)
      .group("links.id")
      .order("COUNT(user_id) DESC").first(4)
end %>

  <!-- ======================== -->

  <ul class="branches branches1">
  <% @public_parents.each do |link| %>
    <li>

      <div>
        <% 
          # @uplinks_2 = Link.where(child_id: link.parent.id).where.not(parent_id: @goal.id).first(4) 

          @uplinks_2 = parent_links(link.parent.id)
        %>      
      </div>
      <!-- <hr> -->
      <% if @uplinks_2.length > 0 %>
        
        <!-- ======================== -->

        <ul class="branches branches2">
          <% @uplinks_2.each do |link2| %>
            <li>
              <!-- <hr> -->
              <% @uplinks_3 = parent_links(link2.parent.id) %>
              <% if @uplinks_3.length > 0  %>
                
                <!-- ======================== -->

                <ul class="branches branches3">
                  <% @uplinks_3.each do |link3| %>
                    <li>
                      <!-- <hr> -->
                      <% @uplinks_4 = parent_links(link3.parent.id) %>
                      <% if @uplinks_4.length > 0  %>

                        <!-- ======================== -->

                        <ul class="branches branches4">
                          <% @uplinks_4.each do |link4| %>
                            <li>


                            <% @uplinks_5 = parent_links(link4.parent.id) %>
                            <% if @uplinks_5.length > 0  %>

                              <!-- ======================== -->

                              <ul class="branches branches5">
                                <% @uplinks_5.each do |link5| %>
                                  <li>
                                    <div class="highlight">
                                      <%= link_to goal_path(:goal_id => link5.child.hashid, :view => 'public') do %>
                                        <div class="highlight-title">

                                          <% if Link.where(child_id: link5.child.id).where.not(parent_id: @goal.id).count > 0 %>
                                            <i class="fas fa-caret-up"></i>
                                            <br>
                                          <% end %>

                                          <%= render(:partial => 'link_unlink_links_branches', :locals => {:link => link5, :@goal => link5.child, :view => 'public'})%>

                                          <%#= link5.parent.title %>    
                                        </div>
                                      <% end %>
                                    </div>
                                    
                                  </li>
                                <% end %>
                              </ul>
                              <div class="line"></div>
                              <% end %>

                              <!-- ======================== -->

                              <div class="highlight">
                                <%= link_to goal_path(:goal_id => link4.child.hashid, :view => 'public') do %>
                                  <%= render(:partial => 'link_unlink_links_branches', :locals => {:link => link4, :@goal => link4.child, :view => 'public'})%>
                                  <!-- <div class="highlight-title"><%= link4.parent.title %></div> -->
                                <% end %>
                              </div>
                              
                            </li>
                          <% end %>
                        </ul>

                        <!-- ======================== -->

                        <div class="line"></div>
                      <% end %>

                      <div class="highlight">
                        <%= link_to goal_path(:goal_id => link3.child.hashid, :view => 'public') do %>
                          <div class="highlight-title">
                            <%#= link3.parent.title %>
                            <%= render(:partial => 'link_unlink_links_branches', :locals => {:link => link3, :@goal => link3.child, :view => 'public'})%>  
                          </div>
                        <% end %>
                      </div>
                    </li>
                  <% end %>
                </ul>

                <!-- ======================== -->

                <div class="line"></div>

              <% end %>

              <div class="highlight">
                <%= link_to goal_path(:goal_id => link2.child.hashid, :view => 'public') do %>
                  <div class="highlight-title">
                    <%#= link2.parent.title %>
                    <%= render(:partial => 'link_unlink_links_branches', :locals => {:link => link2, :@goal => link2.child, :view => 'public'})%>
                  </div>
                <% end %>
              </div>

            </li>
          <% end %>
        </ul>
      
        <!-- ======================== -->

        <div class="line"></div>

      <% end %>
    
      <div class="highlight">
        <%= link_to goal_path(:goal_id => link.child.hashid, :view => 'public') do %>
          <div class="highlight-title">
            <%= render(:partial => 'link_unlink_links_branches', :locals => {:link => link, :@goal => link.child, :view => 'public'})%>
            <!-- <%= link.parent.title %> -->
            <%#= link_to unlink_path(:link_id => link.id), :method => 'post', :class => 'unlink' do %>
              <!-- <i class="fas fa-times"></i> -->
            <%# end %>
          </div>
        <% end %>
      </div>

    </li>
  <% end %>
  </ul>

  <!-- ======================== -->

  <div class="line"></div>


<!-- <div class="highlight short">
  <%= link_to @goal.title, goal_path(@goal) %>
</div> -->

</li>
</ul>
<% end %>
