<div class="goal-node details">

<div class="back-button">
  <%= link_to goal_path(:goal_id => @goal.hashid, :view => 'public') do %>
    <div class="back-button-arrow"></div>
    <div class="back-button-content">
      View tree
    </div>
  <% end %>
</div>

<h1><%= @goal.title %></h1>
<br><br>

<div class="goal-details-section">

<% if @goal.id != 1 %>

  <h2>Adopted by</h2>
  <ul>
  <% @public_parents.each do |link| %>
    <% link.user.each do |user| %>
      <li>
        <i class="fas fa-link"></i>
        <%= user.name %>
      </li>
    <% end %>
  <% end %>

  </ul>

  <h2>Marked Achieved by</h2>
  <ul>
  <% @goal.users.each do |user| %>
    <li>
      <i class="fas fa-check-double"></i>
      <%= user.name %>
    </li>
  <% end %>
  </ul>
</div>

<div class="goal-details-section">
  <h2>Parent goals</h2>
  <ul>
  <% @public_parents.each do |link| %>
    <li class="details-subgoal">
      <%= link_to link.parent.title, goal_path(link.parent) %><br>
      <i class="fas fa-user-friends"></i>
      <%= link.user.count %>
    </li>
  <% end %>
  </ul>
<!-- </div>

<div class="goal-details-section"> -->
  <h2>Subgoals</h2>
  <ul>
  <% @public_children.each do |link| %>
    <li class="details-subgoal">
      <!-- <i class="fas fa-user-friends"></i>
      <%= link.user.count %>
      <%= link_to link.child.title, goal_path(link.child) %>   -->
      <%= render(:partial => 'link_unlink_links', :locals => {:link => link, :@goal => @goal, :view => 'public'})%>
    </li>
  <% end %>
  </ul>
</div>

<div class="goal-details-section">
  <!-- <h2>Other</h2> -->

 <!--  <h2>Brainstorms</h2>
  <ul>
  <% Problem.where(:goal_id => @goal.id).each do |brainstorm| %>
    <li>
      <i class="fas fa-brain"></i>
      <%= link_to brainstorm.title, issue_path(brainstorm) %>    
    </li>
  <% end %>
  </ul>   -->

  <h2>Actions</h2>
  <ul>
  <% Activity.where(:goal_id => @goal.id).each do |action| %>
    <li>
      <i class="fas fa-calendar"></i>
      <%= link_to action.title, action_path(action) %>
    </li>
  <% end %>
  </ul>

  <h2>Discussions</h2>
  <ul>
  <% Discussion.where(:goal_id => @goal.id).each do |discussion| %>
    <li>
      <i class="fas fa-comments"></i>
      <%= link_to discussion.title, discussion_path(discussion) %>
    </li>
  <% end %>
  </ul>  
</div>

<% else %>
<div>
  <h2>Top-level goals</h2>
  <ul>
  <% @public_children.each do |link| %>
    <li>
      <i class="fas fa-user-friends"></i>
      <%= link.user.count %>
      <%= link_to link.child.title, goal_path(link.child) %>    
    </li>
  <% end %>
  </ul>
</div>
<% end %>


</div>