<div class="goal-node">


<ul class="branches branches0">
<li>

  <% if @parents.length > 0 %>

  <!-- ======================== -->

  <ul class="branches branches1">
  <% @parents.last(9).each do |link| %>
    <li>

      <div>
        <% @uplinks_2 = @user.links.where(child_id: link.parent.id).where.not(parent_id: @goal.id).last(9) %>      
      </div>
      <!-- <hr> -->
      <% if @uplinks_2.length > 0 %>
        
        <!-- ======================== -->

        <ul class="branches branches2">
          <% @uplinks_2.each do |link2| %>
            <li>
              <!-- <hr> -->
              <% @uplinks_3 = @user.links.where(child_id: link2.parent.id).where.not(parent_id: @goal.id).last(9) %>
              <% if @uplinks_3.length > 0  %>
                
                <!-- ======================== -->

                <ul class="branches branches3">
                  <% @uplinks_3.each do |link3| %>
                    <li>
                      <!-- <hr> -->
                      <% @uplinks_4 = @user.links.where(child_id: link3.parent.id).where.not(parent_id: @goal.id).last(9) %>
                      <% if @uplinks_4.length > 0  %>

                        <!-- ======================== -->

                        <ul class="branches branches4">
                          <% @uplinks_4.each do |link4| %>
                            <li>


                            <% @uplinks_5 = @user.links.where(child_id: link4.parent.id).where.not(parent_id: @goal.id).last(9) %>
                            <% if @uplinks_5.length > 0  %>

                              <!-- ======================== -->

                              <ul class="branches branches5">
                                <% @uplinks_5.each do |link5| %>
                                  <li>
                                    <div class="highlight">
                                      <%= link_to goal_path(link4.parent) do %>
                                        <div class="highlight-title"><%= link5.parent.title %></div>
                                      <% end %>
                                    </div>
                                    
                                  </li>
                                <% end %>
                              </ul>
                              <div class="line"></div>
                              <% end %>

                              <!-- ======================== -->

                              <div class="highlight">
                                <%= link_to goal_path(link4.parent) do %>
                                  <div class="highlight-title"><%= link4.parent.title %></div>
                                <% end %>
                              </div>
                              
                            </li>
                          <% end %>
                        </ul>

                        <!-- ======================== -->

                        <div class="line"></div>
                      <% end %>

                      <div class="highlight">
                        <%= link_to goal_path(link3.parent) do %>
                          <div class="highlight-title"><%= link3.parent.title %></div>
                        <% end %>
                      </div>
                    </li>
                  <% end %>
                </ul>

                <!-- ======================== -->

                <div class="line"></div>

              <% end %>

              <div class="highlight">
                <%= link_to goal_path(link2.parent) do %>
                  <div class="highlight-title"><%= link2.parent.title %></div>
                <% end %>
              </div>

            </li>
          <% end %>
        </ul>
      
        <!-- ======================== -->

        <div class="line"></div>

      <% end %>
    
      <div class="highlight">
        <%= link_to goal_path(link.parent) do %>
          <div class="highlight-title">
            <%= link.parent.title %>
            <%= link_to unlink_path(:link_id => link.id), :method => 'post', :class => 'unlink' do %>
              <!-- <i class="fas fa-times"></i> -->
            <% end %>
          </div>
        <% end %>
      </div>

    </li>
  <% end %>
  </ul>

  <!-- ======================== -->

  <div class="line"></div>

<% end %>

<!-- <div class="highlight short">
  <%= link_to @goal.title, goal_path(@goal) %>
</div> -->

</li>
</ul>


















<!-- <h2 class="goal-list-title">This helps achieve</h2> -->

<!-- <div class="btn-group">
  <button type="button" class="button add" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-plus"></i>
  </button>
  <div class="dropdown-menu">
    
    <%= form_for(@new_goal, remote: true) do |form| %>
      <div>
        <%= form.text_area :title, id: :goal_title, placeholder: "Why do you want to achieve the current goal?" %>
      </div>

      <%= form.hidden_field :child_id, :value => @goal.id %>

      <%= form.submit "Add", id: :submit_goal, :class => 'button'%>
    <% end %>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search existing goals...">
    <ul id="myUL">

      <% @my_goals.each do |goal| %>
        <li>
          <%= link_to '+ ' + goal.title, link_path(:child_id => @goal.id, :parent_id => goal.id), :method => 'post', :class => 'button' %> 
        </li>
      <% end %>
    </ul>
  </div>
</div>
<br>
 -->

<!-- <ul class="branches">
<% @parents.each do |link| %>
	<li><%= link_to link.parent.title, goal_path(link.parent) %></li>
<% end %>
</ul> -->

<h1><%= @goal.title %></h1>

<!-- <h2 class="goal-list-title">How to achieve this</h2> -->

<!-- <ul class="roots roots0">
<% @children.each do |link| %>
  <li><%= link_to link.child.title, goal_path(link.child) %>
<% end %>
</ul>  
 -->
<br>

<div class="btn-group dropright">
  <button type="button" class="button add" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-plus"></i>
  </button>
  <div class="dropdown-menu">
    
    <%= form_for(@new_goal, remote: true) do |form| %>
      <div>
        <%= form.text_area :title, id: :goal_title, placeholder: "What could help to achieve the current goal?" %>
      </div>

      <%= form.hidden_field :parent_id, :value => @goal.id %>

      <!-- <%= form.check_box :title, id: :post_goal, :checked => true %> Post to feed<br> -->
      <%= form.submit "Add", id: :submit_goal, :class => 'button'%>
    <% end %>

    <input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Search existing goals...">
    <ul id="myUL2">

      <% @my_goals.each do |goal| %>
        <li>
          <%= link_to '+ ' + goal.title, link_path(:parent_id => @goal.id, :child_id => goal.id), :method => 'post', :class => 'button' %> 
        </li>
      <% end %>
    </ul>
  </div>
</div>
<br>
















<!-- <h2 class="goal-list-title">Top node tree</h2> -->

<!-- <div class="highlight short">
  <%= link_to @goal.title, goal_path(@goal) %>
</div> -->

<% if @children.length > 0 %>

  <div class="line"></div>

  <div class="goal-node-outer">

  <ul class="roots roots0">
  <li>


  <ul class="roots roots1">
  <% @children.last(9).each do |link| %>
  	<li>
      <div class="highlight">
        <div class="highlight-title">
          <%= link_to link.child.title, goal_path(link.child) %>
          <%= link_to unlink_path(:link_id => link.id), :method => 'post', :class => 'unlink' do %>
            <i class="fas fa-times"></i>
          <% end %>
        </div>
      </div>
      <div>
        <% @sublinks_2 = @user.links.where(parent_id: link.child.id).where.not(child_id: @goal.id).last(9) %>
      </div>
      <!-- <hr> -->
      <% if @sublinks_2.length > 0 %>
        <div class="line"></div>
  
        <ul class="roots roots2">
          <% @sublinks_2.each do |link2| %>
            <li>
              <div class="highlight">
                <%= link_to goal_path(link2.child) do %>
                  <div class="highlight-title"><%= link2.child.title %></div>
                <% end %>
              </div>
              <!-- <hr> -->
              <% @sublinks_3 = @user.links.where(parent_id: link2.child.id).where.not(child_id: @goal.id).last(9) %>
              <% if @sublinks_3.length > 0  %>
                <div class="line"></div>
                <ul class="roots roots3">
                  <% @sublinks_3.each do |link3| %>
                    <li>
                      <div class="highlight">
                        <%= link_to goal_path(link3.child) do %>
                          <div class="highlight-title"><%= link3.child.title %></div>
                        <% end %>
                      </div>

                      <!-- <hr> -->
                      <% @sublinks_4 = @user.links.where(parent_id: link3.child.id).where.not(child_id: @goal.id).last(9) %>
                      <% if @sublinks_4.length > 0  %>
                        <div class="line"></div>
                        <ul class="roots roots4">
                          <% @sublinks_4.each do |link4| %>
                            <li>
                              <div class="highlight">
                                <div class="highlight">
                                  <%= link_to link4.child.title, goal_path(link4.child) %>
                                </div>
                              </div>
                              
                              <% @sublinks_5 = @user.links.where(parent_id: link4.child.id).where.not(child_id: @goal.id).last(9) %>
                              <% if @sublinks_5.length > 0  %>
                                <div class="line"></div>
                                <ul class="roots roots5">
                                  <% @sublinks_5.each do |link5| %>
                                    <li>
                                      <div class="highlight">
                                        <div class="highlight">
                                          <%= link_to link5.child.title, goal_path(link5.child) %>
                                        </div>
                                      </div>
                                      
                                    </li>
                                  <% end %>
                                </ul>
                              <% end %>

                            </li>
                          <% end %>
                        </ul>
                      <% end %>

                    </li>
                  <% end %>
                </ul>
              <% end %>

            </li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
  </ul>
</li>
</ul>
</div>
<% end %>
</div>






<script>
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}

function myFunction2() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput2');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL2");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}

$(document).ready(function(){
    var outerContent = $('.goal-node-outer');
    var innerContent = $('.roots0');

    outerContent.scrollLeft((innerContent.width() - outerContent.width()) / 2);        
});
</script>