<% if current_user && current_user.admin? %>
  <%= link_to "ø", delete_goal_path(@goal.id), :method=>"post" %>
<% end %>

<% if false && current_user %>
<ol id="notifications" class="centered-notifications">
<% @notifications.each do |notification| %>
  <% if !notification.read %>
    <li class='unread'>
      <%= link_to notification_redirect_path(:notification_id => notification.id) do %>
        <%= notification.details %>
      <% end %>
  
      <%= link_to clear_notification_path(notification.id), :method => "post" do %>
        <i class="fas fa-times close-window"></i>
      <% end %>
    </li>
  <% end %>
<% end %>
</ol>
<% end %>

<div class="goal-node">

<!-- <div id="reload"> <i class="fas fa-undo"></i> Reload</div> -->

<% if current_user %>

<%# @commitments = @user.rolls %>
<% if false && @commitments.length > 0 && Completion.where(user_id: @user.id).count < @commitments.length %>
  <div class="dashboard-item">
    
    <h3>
      <i class="fas fa-tools"></i>
      My actions
    </h3>

    <% if @commitments.count > 0 %>
      <ul>
        <% @commitments.each do |commitment| %>
          <% if Completion.where(user_id: @user.id).where(roll_id: commitment.id).count == 0  %>
          <% if total_committed(commitment.activity) >= total_minimum(commitment.activity) && (!commitment.activity.expiration || commitment.activity.expiration > @current_time) %>
            <%= link_to  action_path(commitment.activity.id) do %>
              <li> 
                <i class="fas fa-calendar-check"></i>
                <%= commitment.activity.title %> </li>
            <% end %>
          <% end %>
        <% end %>
        <% end %>
        <br>
        <% @commitments.each do |commitment| %>
          <% if Completion.where(user_id: @user.id).where(roll_id: commitment.id).count == 0  %>
          <% if total_committed(commitment.activity) < total_minimum(commitment.activity) && (!commitment.activity.expiration || commitment.activity.expiration > @current_time) %>
            <%= link_to  action_path(commitment.activity.id) do %>
              <li> 
                <i class="far fa-calendar"></i>
                <%= commitment.activity.title %> </li>
            <% end %>
          <% end %>
        <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
<% else %>
<% end %>
<% end %>


<%= link_to goal_path(Goal.first, :view => params['view']), :id => 'goal-path' do %>
<h2 class='goals-title'>
  <i class="fas fa-map"></i>
  Roadmap
</h2>
<% end %>

  <% if @goal.id == 1 %>
    <!-- <h1>Goals</h1>  -->
    <%= link_to goals_path do %>
      <div id="search-goals" class="underline">
        Search goals
        <i class="fas fa-search"></i> <!-- Search all -->
      </div>
    <% end %><br>
    
    <!-- <br><i class="fas fa-search"></i> View all top goals -->
  <% end %>

<% if params[:view] == 'public' %>
  <%= link_to goal_path(@goal), :class => "goals-link" do %>
    My map
  <% end %>
  &nbsp;
  <%= link_to goal_path(:goal_id => @goal.hashid, :view => 'public'), :class => "goals-link focus" do %>
    Community map
  <% end %>

  <!-- <h2 class='goals-title'> -->
    <!-- <i class='fas fa-users'></i> -->
    <!-- Everyone's -->
  <!-- </h2>   -->
  <!-- <%= link_to goal_path(@goal) do %> -->
  <!-- <h2 class='goals-title'> -->
    <!-- My goals <i class="fas fa-toggle-on"></i> Community goals -->
    <!-- <i class="fas fa-eye"></i> -->
    <!-- Mine -->
  <!-- </h2> -->
  <!-- <% end %> -->
<% else %>

  <%= link_to goal_path(@goal), :class => "goals-link focus" do %>
    My map
  <% end %>
  &nbsp;
  <%= link_to goal_path(:goal_id => @goal.hashid, :view => 'public'), :class => "goals-link" do %>
    Community map
  <% end %>

  <!-- <h2 class='goals-title'> -->
    <!-- <i class='fas fa-user'></i> -->
    <!-- Personal goals -->
  <!-- </h2>  -->
  <!-- <h2 class='goals-title'> -->
  <!-- <%= link_to goal_path(:goal_id => @goal.hashid, :view => 'public') do %> -->
    <!-- My goals <i class="fas fa-toggle-off"></i> Community goals -->
    <!-- <i class="fas fa-eye"></i> -->
    <!-- View -->
  <!-- <% end %> -->
  <!-- </h2> -->
<% end %>

<br><br>

<% if params[:view] == 'public' %>
  <%= render(:partial => 'public_branches', :locals => {:@parents => @public_parents})%>
  <% if @public_parents.length == 0 && @goal.id != 1 %>
    <br><br><div>This goal is not connected to any roadmap</div><br>
  <% end %>
<% else %>
  <%= render(:partial => 'personal_branches', :locals => {:@parents => @parents})%>
  <% if @parents.length == 0 && @goal.id != 1 %>
    <br><br><div>This goal is not connected to your roadmap</div><br>
  <% end %>
<% end %>











<!-- <h2 class="goal-list-title">This helps achieve</h2> -->


<div class="goal-middle-outer">

  <% if @goal.id != 1 && (@public_parents.count.count > 0 || @goal.users.count > 0 ) %>
  <ul class="goal-actionables goal-users actionables-left">
    <strong>
      Adopted by</strong>
      <% users_linked = [] %>
      <% @public_parents.each do |link| %>
        <% link.user.each do |user| %>
          <% if !users_linked.include?(user.id) %>
            <% users_linked << user.id %>
            <li>
              <i class="fas fa-user"></i>
              <%= user.name %>
            </li>
          <% end %>
        <% end %>
      <% end %>

    <% if @goal.users.count > 0 %>
    <br><strong>
      Marked achieved</strong>
      <% @goal.users.each do |user| %>
        <li>
          <i class="fas fa-user"></i>
          <%= user.name %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <div class="line horizontal"></div>

  <% elsif @goal.id != 1 %>
  <ul></ul>
  <div class="line horizontal invisible"></div>
  <% end %>

  <% if @goal.id != 1 %>
  <div class="goal-middle">

  <% first_top_link = @public_parents.first %>

  <% if first_top_link && !first_top_link.user.include?(@user) %>
    <div class="view-goal-details">
    <%= link_to link_path(:link_id => first_top_link.id), :method => 'post' do %>
      <i class="far fa-check-square link"></i> Adopt
    <% end %>
    </div>
  <% elsif first_top_link %>
    <div class="view-goal-details">
    <%= link_to unlink_path(:link_id => first_top_link.id), :method => 'post' do %>
      <i class="far fa-check-square link"></i> Leave
    <% end %>
    </div>
  <% else %>


    <div class="btn-group dropright-top">
      <button type="button" class="button add" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-plus"></i> New
      </button>
      <div class="dropdown-menu">
        
        <%= form_for(@new_goal, remote: true) do |form| %>
          <div>
            <%= form.text_area :title, id: :goal_title, placeholder: "What would achieving the current goal lead to?" %>
          </div>

          <%= form.hidden_field :child_id, :value => @goal.id %>

          <%= form.submit "Add", id: :submit_goal, :class => 'button'%>
        <% end %>

        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search existing goals...">
        <ul id="myUL">

          <% @my_goals.each do |goal| %>
            <li>
              <%= link_to '+ ' + goal.title, newlink_path(:child_id => @goal.id, :parent_id => goal.id), :method => 'post', :class => 'button' %> 
            </li>
          <% end %>
        </ul>
      </div>
    </div>


  <% end %>

  <br>

  <% if first_top_link && !first_top_link.user.include?(@user) %>
    <div class="mark-accomplished">
    <%= link_to link_path(:link_id => first_top_link.id), :method => 'post' do %>
      <i class="far fa-check-square link"></i> Adopt
    <% end %>
    </div>
  <% elsif @goal.users.include?(@user) %>
    <%= link_to uncomplete_goal_path(:goal_id => @goal.hashid), :method => 'post' do %>
      <div class="mark-accomplished">
        <!-- <%= @goal.users.count if @goal.users.count > 0%> -->
        <i class="fas fa-check-double"></i> Done
      </div>
    <% end %>
  <% else %>
    <%= link_to complete_goal_path(:goal_id => @goal.hashid), :method => 'post' do %>
      <div class="mark-accomplished">
        <!-- <%= @goal.users.count if @goal.users.count > 0%> -->
        <i class="fas fa-check-double"></i> Done
      </div>
    <% end %>
  <% end %>

<!--   <%= link_to goal_details_path(:goal_id => @goal.hashid) do %>
    <div class="view-goal-details">
      <i class="fas fa-stream"></i> Info
    </div>
  <% end %> -->

<% else %>
  <div>
  <%= link_to goal_details_path(:goal_id => @goal.hashid) do %>
    <!-- <i class="fas fa-list"></i> -->
    <!-- View all -->
  <% end %>
<% end %>






  <!-- TITLE -->
  <% if @goal.id != 1 %>

  <%= link_to goal_details_path(@goal.id) do %>

    <% if @goal.users.include?(@user) %>
      <h1 id='<%= @goal.hashid %>' class="strikethrough"><%= @goal.title %></h1> 
    <% else %>
      <h1 id='<%= @goal.hashid %>'><%= @goal.title %></h1>
    <% end %>


    <!-- View all -->
    <% end %>

  <!-- END TITLE -->
  <% end %>



  <% if @goal.id != 1 %>
    <%= link_to choice_path(:goal => @goal.id) do %>
      <div class="view-actionables">
        <i class="fas fa-tools"></i> Mobilize
      </div>
    <% end %>

  <% end %>


<div class="btn-group dropright">
  <button type="button" class="button add" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-plus"></i> New
  </button>
  <div class="dropdown-menu">
    
    <%= form_for(@new_goal, remote: true) do |form| %>
      <div>
        <%= form.text_area :title, id: :goal_title, placeholder: "What subgoal would help achieve the current goal?" %>
      </div>

      <%= form.hidden_field :parent_id, :value => @goal.id %>

      <% if Setting.find(13).state %>
        <%= form.check_box :post_goal, {checked: true}, true, false %> <label>Post to bulletin</label><br>
      <% end %>

      <%= form.submit "Submit", id: :submit_goal, :class => 'button'%>
    <% end %>

    <input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Search existing goals...">
    <ul id="myUL2">

      <% @my_goals.each do |goal| %>
        <li>
          <%= link_to '+ ' + goal.title, newlink_path(:parent_id => @goal.id, :child_id => goal.id), :method => 'post', :class => 'button goal-button' %> 
        </li>
      <% end %>
    </ul>
  </div>
</div>


</div>





<% if Activity.where(:goal_id => @goal.id).count > 0 || Discussion.where(:goal_id => @goal.id).length > 0 %>
<div class="line horizontal"></div>
<ul class="goal-actions">
<% if Activity.where(:goal_id => @goal.id).length > 0 %>
  <strong>Actions</strong>
<% end %>

<% Activity.where(:goal_id => @goal.id).each do |action| %>
  <li>
    <% if total_committed(action) >= total_minimum(action) %>
      <i class="fas fa-calendar-check"></i>
    <% else %>
      <i class="far fa-calendar"></i>
    <% end %>
    <%= link_to action.title, action_path(action) %>
  </li>
<% end %>

<% if Activity.where(:goal_id => @goal.id).count > 0 && Discussion.where(:goal_id => @goal.id).length > 0 %>
  <br>
<% end %>

<% if Discussion.where(:goal_id => @goal.id).length > 0 %>
  <strong>Discussions</strong>
<% end %>

<% Discussion.where(:goal_id => @goal.id).each do |discussion| %>
  <li>
    <i class="fas fa-comments"></i>
    <%= link_to discussion.title, discussion_path(discussion) %>
  </li>
<% end %>

<% if Discussion.where(:goal_id => @goal.id).length > 0 %>
  <br>
<% end %>

<% if Problem.where(:goal_id => @goal.id).length > 0 %>
  <strong>Problems</strong>
<% end %>

<% Problem.where(:goal_id => @goal.id).each do |problem| %>
  <li>
    <i class="fas fa-comments"></i>
    <%= link_to problem.title, issue_path(problem) %>
  </li>
<% end %>

</ul>

<% elsif @goal.id > 1 %>
  <div class="line horizontal invisible"></div>
  <ul class="invisible"></ul>
<% end %>

</div>






  <!-- <ul class="goal-actionables actionables-right">
    <li>
      <i class="fas fa-brain"></i>
      <%= pluralize(Problem.where(:goal_id => @goal.id).count, 'Brainstorm') %>
    </li>
    <li>
      <i class="fas fa-calendar"></i>
      <%= pluralize(Activity.where(:goal_id => @goal.id).count, 'Action') %>
    </li>
    <li>
      <i class="fas fa-comments"></i>
      <%= pluralize(Discussion.where(:goal_id => @goal.id).count, 'Discussion') %>
    </li>
  </ul> -->


<!-- <h2 class="goal-list-title">Top node tree</h2> -->

<!-- <div class="highlight short">
  <%= link_to @goal.title, goal_path(@goal) %>
</div> -->


<% if params[:view] == 'public' %>
  <%= render(:partial => 'public_roots')%>
<% else %>
  <%= render(:partial => 'personal_roots')%>
<% end %>
</div>

<br><br><br><br>
<br><br><br><br>





<script>
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}

function myFunction2() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput2');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL2");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}

$(document).ready(function(){
  localStorage.setItem("goal", '/goal/' + window.location.href.split('/goal/')[1]);

  var outerContent = $('.goal-node-outer');
  var innerContent = $('.roots0');

  outerContent.scrollLeft((innerContent.width() - outerContent.width()) / 2);        
});

$("#reload").click(function() {
  location.reload()
})

setInterval(function () {
  $("#reload").addClass('reload-now')
}, 60000);
</script>