  <div class="proposal-block-one">
    <div class="activity-title"><span class="underline"><%= activity.title %></span> <span class="feed-label">Action</span></div>

  		<% if activity.solution %>
  			<div class="proposal-activity-description">
  				Proposal for <em><%= activity.solution.problem.title %></em>
  				with <%= activity.solution.score %>% estimated support
        </div>

  		<% end %>

      <% if activity.goal %>
        <div class="proposal-activity-description">
          <i class="fas fa-link"></i>
          Attached to goal <strong>
            <% if @activity %>
              <%= link_to @activity.goal.title, goal_path(@activity.goal) %>    
            <% else %>
              "<%= activity.goal.title %>"
            <% end %>
          </strong>
        </div>
      <% end %>

    <div class="activity-info">

      <div class="post-signature">
        <!-- <i class="fas fa-calendar"></i> -->
        Created <%= time_ago_in_words(activity.created_at) %> ago
        by <em><%= 
          begin 
            User.find(activity.creator).name
          rescue 
          end  %></em>

      </div>

      <div>
        <% if activity.expiration && activity.expiration > @current_time %>
          <br>
          <i class="fas fa-clock"></i>
          expires in <%= distance_of_time_in_words(Time.now, Time.at(activity.expiration), include_seconds: true) %>
        <% end %>
      </div>

    </div>

    <div class="roll-progress">
      
      <div class="participation-meter">
        <div class="participation-progress" style="
        width: <%= total_committed(activity).to_f / total_minimum(activity).to_f * 100 + 1%>%; 
        background-color: rgba(255, 116, 85, <%= total_committed(activity).to_f / total_minimum(activity).to_f %>);
        ">
        </div>
      </div>

      <% if total_committed(activity) >= total_minimum(activity) %>
  
        <div class="activated-tag">
          Activated
        </div>

      <% else %>

        <div class="written-progress">
          <i class="fas fa-users"></i>
          <% if !total_maximum(activity) %>
            <%= total_committed(activity) %>/<%= total_minimum(activity) %>-∞
          <% elsif total_minimum(activity) < total_maximum(activity) %>
            <%= total_committed(activity) %>/<%=total_minimum(activity) %>-<%= total_maximum(activity) %>
          <% else %>
            <%= total_committed(activity) %>/<%=total_minimum(activity) %>
          <% end %>
          filled roles

        </div>

      <% end %>

    </div>

    <% if activity.actdissent.count > 0 %>
      <div class="dissenter-count">
        <i class="fas fa-hand-point-down"></i>
        <%= activity.actdissent.count %> objections
      </div>
    <% end %>
</div>