<div class="backdrop">

<h1>Become a <%= @roll.title %> for <strong><%= @roll.activity.title %></strong></h1>
<!-- @roll.description -->
<p>You are about to commit to participate in this collective action.
The action will only take place if there are enough participants. 
Right now, <%= @roll.user.count %> participants have committed, and <%= @roll.minimum %> are needed.
</p>
If activated I commit to being a <%= @roll.title %>:
<br><br>
<%= link_to action_path(@roll.activity.hashid), :class => "button" do %>
	<i class="fa fa-times"></i> Cancel
<% end %>
&nbsp;
<%= link_to participate_path(:roll_id => @roll.id), :method => "post", :class => "button" do %>
	<i class="fa fa-check"></i> I agree
<% end %>

</div>