<div class="backdrop">

<div class="back-button">
  <%= link_to main_feed_path do %>
    <div class="back-button-arrow"></div>
    <div class="back-button-content">
      Back
    </div>
  <% end %>
</div>

<ul class="nav nav-tabs">
	<li><%= link_to 'Discussion', new_discussion_path %></li>
	<li><%= link_to 'Brainstorm', post_problem_path %></li>
	<li class="active"><%= link_to 'Action', post_action_path %></li>
</ul>

<div class="form-tab">
<%= render 'form', activity: @activity %>
</div>

</div>