<div id="activator">

<!--   <div class="back-button">
    <%= link_to main_feed_path do %>
      <div class="back-button-arrow"></div>
      <div class="back-button-content">
        Feed
      </div>
    <% end %>
  </div> -->

  <% if @activity.post %>
    <%= render(:partial => 'static/post-stuff', :locals => {:post => @activity.post})%>
  <% end %>

  <div class="proposal">

    <%= render(:partial => 'activities/activity', :locals => {:activity => @activity})%>


    <% if logged_in? && !@activity.roll.last.user.include?(@user) %>
      <% if @roll.user.include?(@user) %>
          <%= link_to unparticipate_path(:roll_id => @roll.id), :method => "post", :class => "button" do %>
            <i class="fa fa-times"></i>
            Uncommit
          <% end %>
      <% elsif !@activity.actdissent.find_by(user: @user) && (!@roll.maximum || @roll.user.count < @roll.maximum) %>
          <%= link_to commit_path(:roll_id => @roll.id), :class => "button" do %>
            <!-- <div class="commit-button"> -->
              <i class="fas fa-user-plus"></i> Participate
            <!-- </div> -->
          <% end %>
      <% end %>
    <% end %>

    &nbsp;

    <% if @activity.solution && @activity.solution.problem %>

      <%= link_to issue_path(@activity.solution.problem.hashid), :class => "button" do %>
        <i class="fas fa-handshake"></i>

        View original brainstorm
      <% end %>

      &nbsp;

      <%= link_to solution_path(:problem_id => @activity.solution.problem.hashid, :solution_id => @activity.solution.hashid), :class => "button" do %>
        <i class="fas fa-comment-alt"></i> 
        View original proposal
      <% end %>
    <% end %>


    <% if logged_in? %>
      <% if @activity.roll.first.user.include?(@user) %>
      <% unless @activity.roll.last.user.include?(@user) %>
        <%= link_to complete_path(:activity_id => @activity.id), :method => "post", :class => "button" do %>
          <i class="fa fa-check"></i>
          Mark complete
        <% end %>
      <% end %>
      <% end %>
    <% end %>
    
  </div>

  <div class="dissent-activity">
    <%if @activity.actdissent.find_by(user: @user)%>
      <td>
        your objected with the reason: <%= @activity.actdissent.find_by(user: @user).title %><br>
        <%= link_to "don't object", assent_activity_path(:activity_id => @activity.id), :method => "post" %>
      </td>
    <% elsif !@roll.user.include?(@user) %>
      <td>
        <%= form_for(@activity.actdissent.new, :url => dissent_activity_path, remote: true) do |form| %>
          I do not support this plan because:<br>
          <%= form.text_area :title %>

          <%= form.hidden_field :activity_id %>

          <%= form.submit "Submit objection" %>
        <% end %>

        </td>
    <%end%>
  </div>

  <% if @activity.actdissent.count > 0 %>
    <strong>Dissent</strong>
    <div>
      <% @activity.actdissent.each do |dissent| %>
        <%= dissent.title %>
      <% end %>    
    </div>
  <% end %>

  <% if Setting.find(5).state %>
  <div id="action-columns">
  <% else %>
  <div>
  <% end %>

    <div id="action-details">
      <h1>Details</h1>
      <p><%= @activity.description %></p>
    </div>
    <%= render(:partial => 'discussions/discussion-mini', :locals => {:@discussion => @discussion}) if Setting.find(5).state %>  
  </div>

  <% if logged_in? && current_user.admin? %>
    <br><br>
    Created by <%= @activity.creator %> –
    <%= link_to 'Remove', @activity, method: :delete, data: { confirm: 'Delete action?' } %>
  <% end %>
</div>