<% if false && @activity.goal %>
<div class="action-goal">
  <div class="proposal-activity-description">
    <!-- <i class="fas fa-link"></i> -->
    <!-- Attached to goal  -->
    <strong>
      <% if @activity %>
        <%= link_to @activity.goal.title, goal_path(@activity.goal) %>    
      <% else %>
        "<%= activity.goal.title %>"
      <% end %>
    </strong>
  </div>
</div>
<% end %>

<div class="top-flex">

<div id="activator" class="white-container">

<!--   <div class="back-button">
    <%= link_to main_feed_path do %>
      <div class="back-button-arrow"></div>
      <div class="back-button-content">
        Feed
      </div>
    <% end %>
  </div> -->

  <div class="post-outer">
    <%= render(:partial => 'static/post-stuff', :locals => {:post => @activity.post})%>

    <div class="proposal">

      <div class="flex-container">

        <div class="issue-title view">  
          <%= render(:partial => 'activities/activity', :locals => {:activity => @activity})%>
        </div>

        <div class="right-buttons">

          <div id="open-discussion">
            <i class="fas fa-comments"></i>
            Conversation
            (<%= @discussion.comment.count %>)
          </div>

        </div>

      </div>


      <% if @activity.solution && @activity.solution.problem %>
        <br>
        <%= link_to solution_path(:problem_id => @activity.solution.problem.hashid, :solution_id => @activity.solution.hashid) do %>
          <i class="fas fa-comment-alt"></i>
          View original proposal
        <% end %>
        
        &nbsp;
        
      <% end %>

      <!-- &nbsp; -->

    <!--   <% if logged_in? %>
        <% if @activity.roll.first.user.include?(@user) %>
        <% unless @activity.roll.last.user.include?(@user) %>
          <%= link_to complete_path(:activity_id => @activity.id), :method => "post", :class => "button" do %>
            <i class="fa fa-check"></i>
            Mark complete
          <% end %>
        <% end %>
        <% end %>
      <% end %> -->
      
    </div>
  </div>

  <% if @activity.description.length > 0 %>
  <p class="discussion-content"><%= @activity.description.gsub(URI.regexp, '<a target="_blank" href="\0">\0</a>').html_safe %></p>
  <% end %>

  <div class="dissent-activity">
    <%if @activity.actdissent.find_by(user: @user)%>
      <td>
        your objected with the reason: <%= @activity.actdissent.find_by(user: @user).title %><br>
        <%= link_to "don't object", assent_activity_path(:activity_id => @activity.id), :method => "post" %>
      </td>
    <% elsif !@roll.user.include?(@user) %>
      <td>
        <%= form_for(@activity.actdissent.new, :url => dissent_activity_path, remote: true) do |form| %>
          I do not support this plan because:<br>
          <%= form.text_area :title %>

          <%= form.hidden_field :activity_id %>

          <%= form.submit "Submit objection" %>
        <% end %>

        </td>
    <%end%>
  </div>

  <% if @activity.actdissent.count > 0 %>
    <strong>Dissent</strong>
    <div>
      <% @activity.actdissent.each do |dissent| %>
        <%= dissent.title %>
      <% end %>    
    </div>
  <% end %>

  <% if Setting.find(5).state %>
  <div id="action-columns">
  <% else %>
  <div>
  <% end %>
  <div id="action-details">

    <h1>Roles</h1>   
    <div id="open-share-div">
      <i class="fas fa-share"></i>
      Share/invite
    </div>
    <div id="share-div">
      <%= render(:partial => 'activities/share') %>
    </div>

    <ul class="all-roles fadein">
      <% @activity.roll.each do |role| %>
        <%= render(:partial => 'role', :locals => {:role => role}) %>
      <% end %>
    </ul>
  </div>
  </div>

</div>
<!-- DISCUSSION -->
<div class="discussion-extraouter">
  <h2>
    <i class="fas fa-comments" ></i> Conversation
    (<%= @discussion.comment.count %>)
   <!--  <%= link_to discussion_path(@discussion), :id => "full-discussion-view" do %>
      Full view
    <% end %> -->
    <i class="fas fa-times float-right" id="close-discussion"></i>
  </h2>
  <%= render(:partial => 'discussions/discussion-mini', :locals => {:@discussion => @discussion}) if Setting.find(5).state %>
</div> <!-- DISCUSSION ENDS -->

</div>

<!-- <div class="thisisa">This is an "action". Checkout the <%= link_to "GUIDE", documentation_path %> for more info. -->

<% if logged_in? && current_user.admin? && false %>
  <br><br>
  Created by user <%= @activity.creator %> –
  <%= link_to 'Remove', @activity, method: :delete, data: { confirm: 'Delete action?' } %>

  <% if @activity.post %>
    <%= link_to "Broadcast", broadcast_post_path(:post_id => @activity.post.id), :method => "post", :class => 'button', data: { confirm: "Broadcast post?" } %>
  <% end %>
  <% end %>

</div>

<script type="text/javascript">
  $('#open-collaborators').click( function() {
    $('#collaborators-list').show()
  })

  $('#collaborators-list').find('.close-window').click(function(){
    $('#collaborators-list').hide()
  })

  $('#close-share-div').click( function(){
    $('#share-div').hide()
  })

  $('#open-share-div').click(function(){
    $('#share-div').toggle()
  })

  $('#add-collaborators').click(function(){
    $('#collaborators-list').hide()
    $('#share-div').show()
  })

  var openDiscussion = function() {
    $('.discussion-extraouter').show()
    $('#open-discussion').hide()
    $('.criteria-list').addClass('two-column')
    // if (jQuery(window). width() >= 700) {
    //   $('.white-container').show()
    // }
    localStorage.setItem('dcan-discussion-show-desktop', 'True');
  }

  var closeDiscussion = function() {
    $('.discussion-extraouter').hide()
    $('#open-discussion').show()
    $('.criteria-list').removeClass('two-column')
    // if (jQuery(window). width() < 700) {
    //   $('.white-container').hide()
    // }
    localStorage.setItem('dcan-discussion-show-desktop', 'False');
  }

  $(document).ready(function() {
    <% if logged_in? && @discussion.comment.count > 0 %>
      if (localStorage.getItem('dcan-discussion-show-desktop') != 'False') {
        localStorage.setItem('dcan-discussion-show-desktop', 'True');
      }

      <% if params[:discussion] == 'open' %>
        localStorage.setItem('dcan-discussion-show-desktop', 'True');
      <% end %>
    <% else %>
      $('.discussion-extraouter').hide()
      $('#open-discussion').show()
      $('.criteria-list').removeClass('two-column')
    <% end %>

    var showDiscussionDesktop = localStorage.getItem('dcan-discussion-show-desktop')
    
    if (showDiscussionDesktop == 'True') {
      openDiscussion()
    } else if (showDiscussionDesktop == 'False') {
      closeDiscussion()
    }
    // localStorage.setItem('dcan-discussion-show-desktop', 'False');
  })

  $('#close-discussion').click(function(){
    closeDiscussion()

    url = window.location.href
    if (url.indexOf('?discussion') > 0) {
      window.location = url.slice(0, url.indexOf('?discussion') )      
    }
  })

  $('#open-discussion').click(function(){
    openDiscussion()
  })
</script>