<% if false && @activity.goal %>
<div class="action-goal">
  <div class="proposal-activity-description">
    <!-- <i class="fas fa-link"></i> -->
    <!-- Attached to goal  -->
    <strong>
      <% if @activity %>
        <%= link_to @activity.goal.title, goal_path(@activity.goal) %>    
      <% else %>
        "<%= activity.goal.title %>"
      <% end %>
    </strong>
  </div>
</div>
<% end %>

<div id="activator" class="white-container">

<!--   <div class="back-button">
    <%= link_to main_feed_path do %>
      <div class="back-button-arrow"></div>
      <div class="back-button-content">
        Feed
      </div>
    <% end %>
  </div> -->

  <% if @activity.post %>
    <%= render(:partial => 'static/post-stuff', :locals => {:post => @activity.post})%>
  <% end %>

  <div class="proposal">

    <%= render(:partial => 'activities/activity', :locals => {:activity => @activity})%>

    <% if @activity.solution && @activity.solution.problem %>
      <br>
      <%= link_to solution_path(:problem_id => @activity.solution.problem.hashid, :solution_id => @activity.solution.hashid) do %>
        <i class="fas fa-comment-alt"></i>
        View original proposal
      <% end %>
      
      &nbsp;
      
    <% end %>

    <!-- &nbsp; -->

  <!--   <% if logged_in? %>
      <% if @activity.roll.first.user.include?(@user) %>
      <% unless @activity.roll.last.user.include?(@user) %>
        <%= link_to complete_path(:activity_id => @activity.id), :method => "post", :class => "button" do %>
          <i class="fa fa-check"></i>
          Mark complete
        <% end %>
      <% end %>
      <% end %>
    <% end %> -->
    
  </div>

  <% if @activity.description.length > 0 %>
  <p class="discussion-content"><%= @activity.description.gsub(URI.regexp, '<a target="_blank" href="\0">\0</a>').html_safe %></p>
  <% end %>

  <div class="dissent-activity">
    <%if @activity.actdissent.find_by(user: @user)%>
      <td>
        your objected with the reason: <%= @activity.actdissent.find_by(user: @user).title %><br>
        <%= link_to "don't object", assent_activity_path(:activity_id => @activity.id), :method => "post" %>
      </td>
    <% elsif !@roll.user.include?(@user) %>
      <td>
        <%= form_for(@activity.actdissent.new, :url => dissent_activity_path, remote: true) do |form| %>
          I do not support this plan because:<br>
          <%= form.text_area :title %>

          <%= form.hidden_field :activity_id %>

          <%= form.submit "Submit objection" %>
        <% end %>

        </td>
    <%end%>
  </div>

  <% if @activity.actdissent.count > 0 %>
    <strong>Dissent</strong>
    <div>
      <% @activity.actdissent.each do |dissent| %>
        <%= dissent.title %>
      <% end %>    
    </div>
  <% end %>

  <% if Setting.find(5).state %>
    <div id="action-columns">
  <% else %>
    <div>
  <% end %>

  <div id="action-details">

    <h1>Roles</h1>

    <ul class="all-roles fadein">
      <% @activity.roll.each do |role| %>
        <%= render(:partial => 'role', :locals => {:role => role}) %>
      <% end %>
    </ul>

    <%= render(:partial => 'discussions/discussion-mini', :locals => {:@discussion => @discussion}) if Setting.find(5).state %>
  </div>

</div>

<!-- <div class="thisisa">This is an "action". Checkout the <%= link_to "GUIDE", documentation_path %> for more info. -->

<% if logged_in? && current_user.admin? && false %>
  <br><br>
  Created by user <%= @activity.creator %> –
  <%= link_to 'Remove', @activity, method: :delete, data: { confirm: 'Delete action?' } %>

  <% if @activity.post %>
    <%= link_to "Broadcast", broadcast_post_path(:post_id => @activity.post.id), :method => "post", :class => 'button', data: { confirm: "Broadcast post?" } %>
  <% end %>
  <% end %>

</div>