<div id="activator">

<!--   <div class="back-button">
    <%= link_to main_feed_path do %>
      <div class="back-button-arrow"></div>
      <div class="back-button-content">
        Feed
      </div>
    <% end %>
  </div> -->

  <% if @activity.post %>
    <%= render(:partial => 'static/post-stuff', :locals => {:post => @activity.post})%>
  <% end %>

  <div class="proposal">

    <%= render(:partial => 'activities/activity', :locals => {:activity => @activity})%>

    <% if @activity.solution && @activity.solution.problem %>
      <%= link_to solution_path(:problem_id => @activity.solution.problem.hashid, :solution_id => @activity.solution.hashid) do %>
        <i class="fas fa-comment-alt"></i>
        View original proposal
      <% end %>
      
      &nbsp;
      
    <% end %>

    <!-- &nbsp; -->

  <!--   <% if logged_in? %>
      <% if @activity.roll.first.user.include?(@user) %>
      <% unless @activity.roll.last.user.include?(@user) %>
        <%= link_to complete_path(:activity_id => @activity.id), :method => "post", :class => "button" do %>
          <i class="fa fa-check"></i>
          Mark complete
        <% end %>
      <% end %>
      <% end %>
    <% end %> -->
    
  </div>

  <p class="discussion-content"><%= @activity.description.gsub(URI.regexp, '<a target="_blank" href="\0">\0</a>').html_safe %></p>

  <div class="dissent-activity">
    <%if @activity.actdissent.find_by(user: @user)%>
      <td>
        your objected with the reason: <%= @activity.actdissent.find_by(user: @user).title %><br>
        <%= link_to "don't object", assent_activity_path(:activity_id => @activity.id), :method => "post" %>
      </td>
    <% elsif !@roll.user.include?(@user) %>
      <td>
        <%= form_for(@activity.actdissent.new, :url => dissent_activity_path, remote: true) do |form| %>
          I do not support this plan because:<br>
          <%= form.text_area :title %>

          <%= form.hidden_field :activity_id %>

          <%= form.submit "Submit objection" %>
        <% end %>

        </td>
    <%end%>
  </div>

  <% if @activity.actdissent.count > 0 %>
    <strong>Dissent</strong>
    <div>
      <% @activity.actdissent.each do |dissent| %>
        <%= dissent.title %>
      <% end %>    
    </div>
  <% end %>

  <% if Setting.find(5).state %>
    <div id="action-columns">
  <% else %>
    <div>
  <% end %>

  <div id="action-details">

    <h1>Roles</h1>
    <div>
      <ul class="all-roles">

        <% @activity.roll.each do |role| %>
          <li>

            <div><strong><%= role.title %></strong> &nbsp;<%= role.description %></div>

            <div class="role-progress">
              
              <div class="participation-meter participation-meter-outer">
                <div class="participation-progress" style="
                width: <%= role.user.count.to_f / role.minimum.to_f * 100 + 1%>%; 
                background-color: rgba(119, 166, 255, <%= role.user.count.to_f / role.minimum.to_f %>);
                ">
                </div>
              </div>

              <div class="written-progress-overlay">
                <i class="fas fa-users"></i>
                <% if !role.maximum %>
                  <%= role.user.count %> committed/<%= role.minimum %>-∞
                <% elsif role.minimum < role.maximum %>
                  <%= role.user.count %> committed/<%= role.minimum %>-<%= role.maximum %>
                <% else %>
                  <%= role.user.count %> committed/<%= role.minimum %>
                <% end %>
                needed
              </div>

            </div>

            <% if logged_in? && Completion.where(user_id: @user.id).where(roll_id: role.id).count > 0 %>
              <span class="completed"><i class="fa fa-check"></i>completed</span>
            <% else %>

            <% if role.user.include?(@user) %>
              <%= link_to unparticipate_path(:roll_id => role.id), :method => "post", :class => "button commit" do %>
                <i class="fa fa-times"></i>
                Uncommit
              <% end %>

              <%= link_to complete_path(:roll_id => role.id), :method => "post", :class => "button complete" do %>
                <i class="fa fa-check"></i>
                Mark complete
              <% end %>

              <% elsif !@activity.actdissent.find_by(user: @user) && (!role.maximum || role.user.count < role.maximum) %>
                <%= link_to commit_path(:roll_id => role.id), :class => "button commit" do %>
                  <i class="fas fa-user-plus"></i>
                  Commit
                <% end %>
              <% end %>

            <% end %>

          </li>
        <% end %>
      
      </ul>
    </div>

    <%= render(:partial => 'discussions/discussion-mini', :locals => {:@discussion => @discussion}) if Setting.find(5).state %>
  </div>

  <% if logged_in? && current_user.admin? %>
    <br><br>
    Created by user <%= @activity.creator %> –
    <%= link_to 'Remove', @activity, method: :delete, data: { confirm: 'Delete action?' } %>
  <% end %>
</div>
</div>