<%= form_with(model: solution, local: true) do |form| %>
  <% if solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

      <ul>
      <% solution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if !solution.problem.require_action && params["format"] == 'action' %>
    <%= link_to "Don't use action format", new_solution_path(:problem_id => @problem.id), :class => "button button-hollow" if !@problem.require_action %>
    <br>
    <br>
  <% elsif !solution.problem.require_action %>
    <%= link_to 'Format as action', new_solution_path(:problem_id => @problem.id, :format => 'action'), :class => "button button-hollow" %>
    <br>
    <br>
  <% end %>

  <div class="solution-form-body">
    <%= form.text_area :title, id: :solution_title, placeholder: "Title" %>
    <%= form.text_area :description, id: :solution_description, placeholder: "Description" %>

    <% if Setting.find(9).state %>
      <div class="activation">
        <%= form.hidden_field :activation_minimum, placeholder: 1, value: 1, min: 1 %> 
        <%= form.hidden_field :activation_maximum, placeholder: "∞", min: 1 %>
      </div>
    <% else %>

    <% if @problem.require_action || params["format"] == "action" %>

      <div id="activation">
        <h1>Roles</h1>

        <%= form.hidden_field :role_json, id: :role_json %>

        <div class="role">
          <b>Title:</b>
          <%= form.text_field :role_title, id: :role_title, placeholder: "Participant" %>
          <b>Description:</b>
          <%= form.text_field :role_description, id: :role_description %>
          <b>Needed:</b>
          Min <%= form.number_field :activation_minimum, id: :role_minimum, placeholder: 1, value: 1, min: 1 %> 
          Max <%= form.number_field :activation_maximum, id: :role_maximum, placeholder: "∞", min: 1 %>
        </div>

      </div>

      <div id="add-role"><i class="fas fa-plus"></i> Add role</div>

      <% end %>

    <% end %>

  </div>

  <%= form.hidden_field :problem_id, id: :solution_problem_id %>

  <%= form.submit "Propose", id: :submit_action %>
<% end %>








<% if @problem.require_action || params["format"] == "action" %>

<script type="text/javascript">
  
  $('#add-role').click(function(){
    $('#activation').append('<div class="role"><b>Title: </b><input id="role_title" placeholder="Participant" type="text" name="activity[role_title]"><b> Description: </b><input id="role_description" type="text" name="activity[role_description]"><b> Needed: </b>Min <input id="role_minimum" placeholder="1" value="1" min="1" type="number" name="activity[activation_minimum]"> Max <input id="role_maximum" placeholder="∞" min="1" type="number" name="activity[activation_maximum]"> <i class="fas fa-times remove-role button"></i></div>')

      $('.remove-role').click(function(){
        console.log('hi')
        $(this).parent().remove()
      })
  })

  $('.form-tab > form').submit(function(){

      role_json = []
      roles = $('.role')

      for (var i = 0; i < roles.length; i++) {
        role = {}

        title = $(roles[i]).find("#role_title")[0].value
        description = $(roles[i]).find("#role_description")[0].value
        minimum = $(roles[i]).find("#role_minimum")[0].value
        maximum = $(roles[i]).find("#role_maximum")[0].value

        role["title"] = title
        if (title == "") {role["title"] = "Participant"}

        role["description"] = description
        if (description == "") {role["description"] = ""}

        role["minimum"] = minimum
        if (minimum == "") {role["minimum"] = 1}

        role["maximum"] = maximum
        if (maximum == "") {role["maximum"] = 0}

        role_json.push(role)
      }

      $('#role_json').val(JSON.stringify(role_json))

      return
  })

</script>
<% end %>