<p id="notice"><%= notice %></p>

<h1>Solutions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Problem</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solutions.each do |solution| %>
      <tr>
        <td><%= solution.title %></td>
        <td><%= solution.description %></td>
        <td><%= solution.problem %></td>
        <td><%= solution.user %></td>
        <td><%= link_to solution_path(:problem_id => solution.problem_id, :id => solution.id) %></td>
        <td><%= link_to 'Edit', edit_solution_path(solution) %></td>
        <td><%= link_to 'Destroy', solution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solution', new_solution_path %>
