<div class="backdrop solution-outer">

  <div class="back-button">
    <%= link_to issue_path(:problem_id => @problem.hashid), data: { turbolinks: false } do %>
      <div class="back-button-arrow"></div>
      <div class="back-button-content">
        <%= @problem.title %>
      </div>
    <% end %>
  </div>

  <div id="proposal-description">
    <h1><%= @solution.title %></h1>
    <span>- Proposal for <span class="problem-title"><%= @solution.problem.title %></span></span>

    <p class="discussion-content"><%= @solution.description %></p>

    <% if @problem.require_action %>
      <br>
      <% if @solution.roll.first.maximum %>
        <p>Participation requirement: <%=@solution.roll.first.minimum %> to <%=@solution.roll.first.maximum %> people</p>
      <% else %>
        <p>Participation minimum: <%=pluralize(@solution.roll.first.minimum, 'person')%></p>
      <% end %>
      <br>

      <% if Setting.first.state || (current_user && current_user.admin?) %>
        <% if @solution.user.count < @solution.problem.suggestion_min - 1 %>
          <%= link_to suggest_path(:solution_id => @solution.id), :method => "post", :class => "button" do %>
            Suggest (<%= @solution.user.count %>/<%= @solution.problem.suggestion_min %>)
          <% end %>
        <% elsif @solution.user.count >= @solution.problem.suggestion_min %>
          This was posted as an action
          <%= link_to action_path(:activity_id => @solution.activity.id), :class => "button" do %>
            <em>View action</em>
          <% end %>
        <% elsif @solution.user.include?(@user) %>
          Suggested (<%= @solution.user.count %>/<%= @solution.problem.suggestion_min %>)
        <% elsif @solution.user.count == @solution.problem.suggestion_min - 1 %>
          <%= link_to suggest_path(:solution_id => @solution.id), :method => "post", :class => "button" do %>
            Post as action
          <% end %>
        <% end %>
      <% end %>
    <%end%>

  </div>

<!-- ROLES -->
  <% if @problem.require_action %>
    <h1>Roles</h1>
    <div>
      <ul class="all-roles">

        <% @solution.roll.each do |role| %>
          <li>
            <div><strong><%= role.title %></strong> &nbsp;<%= role.description %>
              <% if !role.maximum %>
                (<%= role.minimum %>-∞
              <% elsif role.minimum < role.maximum %>
                (<%= role.minimum %>-<%= role.maximum %>
              <% else %>
                (<%= role.minimum %>
              <% end %>
              needed)
            </div>


          </li>
        <% end %>
      
      </ul>
    </div>
  <% end %>

<!-- CRITERIA -->

<div id="proposal-polling">
  <h1>Evaluation</h1><br>

  Estimated collective support for this proposal
  <%= link_to "(see how this is calculated)", documentation_path(:anchor => "proposal_scoring") %>

  <div class="score-bar-outer">
    <div class="score-bar-inner" style="background-color: #9fff77; width: <%= solution_score(@solution.id) * 100 %>%" ></div>
    <div class="written-criterion-score">
      <%= (solution_score(@solution.id) * 100).to_i %>%
    </div>
  </div>

  <h2>Criteria</h2>

  <table>

    <tbody>
      <% sponsor_count = problem_criteria_sponsor_count(@solution.id) %>

      <% @criteria.each do |criterium| %>
      <% if criterium.user.count > 0 %>
          <tr>
            <td id="<%= criterium.hash %>">
              <%= link_to show_criterium_path(:criterium_id => criterium.id) do %>
                <%= criterium.title %>
              <% end %>
            </td>

            <td>
            <% if current_user && criterium.poll.where(solution_id: @solution.id).where(user_id: @user.id).count == 0 %>
              <div class="poll-bar-outer">
                <div class="poll-bar-inner" style="width: 0"></div>
                <span class="criterion-poll-text">Does the proposal meet this criteria?</span><br>
                <div class="criterion-poll">
                  
                  <%= link_to set_poll_path(:criterium_id => criterium.id, :solution_id => @solution.id, :answer => 1), :method => "post", :class => "poll-yes" do %>
                    <i class="fas fa-check"></i>
                    YES
                  <% end %>
                  
                  <%= link_to set_poll_path(:criterium_id => criterium.id, :solution_id => @solution.id, :answer => 0), :method => "post", :class => "poll-no" do %>
                    <i class="fas fa-times"></i>
                    NO
                  <% end %>

                </div>
              </div>
            <% else %>
              
              <!-- <td> -->
                <div class="score-bar-outer">
                  <!-- <div class="score-bar-limit" style="width: <%= base_criterium_score(criterium.id) * 100 %>%">
                  </div> -->
                  <div class="score-bar-inner" style="width: <%= ((criterium.poll.where(solution_id: @solution.id).where(answer: 1).count).to_f / (criterium.poll.where(solution_id: @solution.id).count.to_f) * 100).to_i %>%" >
                  </div>
                  <div class="written-criterion-score">
                    <%= ((criterium.poll.where(solution_id: @solution.id).where(answer: 1).count).to_f / (criterium.poll.where(solution_id: @solution.id).count.to_f) * 100).to_i %>%

                    <!-- <%= solution_criterium_score(@solution.id, criterium.id) * 100 %>% -->
                  </div>
                </div>
            <% end %>

                <div class="criterion-score-info">
                  <%= criterium.poll.where(solution_id: @solution.id).count %> responses |

                  <% unless sponsor_count == 0 || criterium.poll.where(solution_id: @solution.id).count == 0 %>
                    Weight: <%= (criterium.user.count.to_f/sponsor_count.to_f * 100).to_i %>%
                  <% else %>
                    Supporters: <%= criterium.user.count %>
                  <% end %>
                  |
                  <% if true #if criterium.poll.where(solution_id: @solution.id).where(user_id: @user.id).count == 0 %>
                    Net support: <%= (base_criterium_score(criterium.id) * 100).to_i %>%
                  <% else %>
                    Adjusted: <%= (solution_criterium_score(@solution.id, criterium.id) * 100).to_i %>%
                  <% end %>
                </div>
              <!-- </td>
              <td> -->

              </td>
              <!-- <td>
                <em>max criterion score: <%= (base_criterium_score(criterium.id) * 100).to_i %>%</em>
              </td> -->
              <td>  </td>
              <!-- <td><%= criterium.alternatives %></td> -->
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

</div>
<!-- CRITERIA ENDS -->

<!-- DISCUSSION -->
<div class="solution-discussion">
  <%= render(:partial => 'discussions/discussion-mini', :locals => {:@discussion => @discussion}) if Setting.find(4).state %>
</div>
<!-- DISCUSSION ENDS -->

</div>

<% if logged_in? && current_user.admin? %>
  <br>
  <span class="admin-section">
    Created by user <%= @solution.creator %> –
    <%= link_to "Remove", destroy_solution_path(@solution), method: :delete, data: { confirm: 'Are you sure?' } %>
  </span>
<% end %>