<div class="backdrop solution-outer white-container">
  <div class="back-button">
    <%= link_to issue_path(:problem_id => @problem.hashid), data: { turbolinks: false } do %>
      <div class="back-button-arrow"></div>
      <div class="back-button-content">
        All proposals
      </div>
    <% end %>

  <!-- <h2>&nbsp;Proposal</h2> -->
  </div>
    <h1>Proposal: </strong><%= @solution.title %></h1>

  <% if @solution.description.length > 0 %> 
    <div id="proposal-description">
      <p class="discussion-content"><%= @solution.description.gsub(URI.regexp, '<a target="_blank" href="\0">\0</a>').html_safe %></p>
    </div>
  <% end %> 
<!-- CRITERIA -->
<div id="proposal-polling">
  <h2>Evaluation</h2>
  <% #if !@problem.scoring_method || @problem.scoring_method == 1 %>
  <% if !@problem.facilitator_id %>
    Estimated collective support for this proposal
    <br>
    <div class="score-bar-outer">
      <div class="score-bar-inner" style="background-color: #4defa7; width: <%= solution_score(@solution.id) * 100 %>%" ></div>
      <div class="written-criterion-score">
        <%= (solution_score(@solution.id) * 100).to_i %>%
      </div>
    </div>
    <br>
    <%= link_to "(see how this is calculated)", documentation_path(:anchor => "proposal_scoring") %>
  <% #elsif @problem.scoring_method == 2 %>
  <% else %> 
    <% polls = Poll.where(solution_id: @solution.id) if Poll.where(solution_id: @solution.id).count > 0 %>
    <span class="percentage" colspan="2"><%= ( 100 - (polls.average(:answer) * 100).round ) if polls %><%= 0 if !polls %>%</span> away from convergence
  <% #elsif @problem.scoring_method == 3 %>
    <!-- Criteria marked met / all polls: 
    <% polls = Poll.where(solution_id: @solution.id) if Poll.where(solution_id: @solution.id).count > 0 %>
    <span class="percentage" colspan="2"><%= ( (polls.average(:answer) * 100).round ) if polls %> <%= 0 if !polls %>%</span> -->
  <% end %>

<% if logged_in? %>

  <br><br><div><em>For each criterion, select whether you think it is met by the current proposal. If you don’t have an opinion about whether this proposal attends to the criterion or not, simply do not check either box. </em></div>

  <!-- <h2>Criteria</h2> -->
  <br><br>

  <table>

    <tbody>
      <% sponsor_count = problem_criteria_sponsor_count(@solution.id) %>

      <% @criteria.each do |criterium| %>
      <% if criterium.user.count > 0 %>
          <tr>
            <td id="<%= criterium.hash %>">
              <%= link_to show_criterium_path(:criterium_id => criterium.id) do %>
                <%= criterium.title %>
              <% end %>
            </td>

            <td>
            <% if current_user && criterium.poll.where(solution_id: @solution.id).where(user_id: @user.id).count == 0 %>
              <div class="poll-bar-outer">
                <div class="poll-bar-inner" style="width: 0"></div>
                <span class="criterion-poll-text">Does the proposal meet this criterion?</span><br>
                <div class="criterion-poll">
                  
                  <%= link_to quiet_set_poll_path(:criterium_id => criterium.id, :solution_id => @solution.id, :answer => 1), :method => "post", :class => "poll-yes" do %>
                    <i class="fas fa-check"></i>
                    YES
                  <% end %>
                  
                  <%= link_to quiet_set_poll_path(:criterium_id => criterium.id, :solution_id => @solution.id, :answer => 0), :method => "post", :class => "poll-no" do %>
                    <i class="fas fa-times"></i>
                    NO
                  <% end %>

                </div>
              </div>
            <% else %>
              
              <% #if !@problem.scoring_method || @problem.scoring_method == 1 %>
              <% if !@problem.facilitator_id %>

              <!-- <td> -->
                <div class="score-bar-outer">
                  <!-- <div class="score-bar-limit" style="width: <%= base_criterium_score(criterium.id) * 100 %>%">
                  </div> -->
                  <div class="score-bar-inner" style="width: <%= ((criterium.poll.where(solution_id: @solution.id).where(answer: 1).count).to_f / (criterium.poll.where(solution_id: @solution.id).count.to_f) * 100).to_i %>%" >
                  </div>
                  <div class="written-criterion-score">
                    <%= ((criterium.poll.where(solution_id: @solution.id).where(answer: 1).count).to_f / (criterium.poll.where(solution_id: @solution.id).count.to_f) * 100).to_i %>%

                    <!-- <%= solution_criterium_score(@solution.id, criterium.id) * 100 %>% -->
                  </div>
                </div>
                
                <%= link_to quiet_set_poll_path(:criterium_id => criterium.id, :solution_id => @solution.id, :answer => nil), :method => "post", :class => "remove-poll" do %>
                  <i class="fas fa-times"></i>
                <% end %>
              <% else %>
                <div class="poll-bar-outer center">
                  <div class="criterion-poll-numbers">Yes: <%= criterium.poll.where(solution_id: @solution.id).where(answer: 1).count %></div>
                  <div class="criterion-poll-numbers">No: <%= criterium.poll.where(solution_id: @solution.id).where(answer: 0).count %></div>
                  <%= link_to quiet_set_poll_path(:criterium_id => criterium.id, :solution_id => @solution.id, :answer => nil), :method => "post", :class => "remove-poll" do %>
                    <i class="fas fa-times"></i>
                  <% end %>
                
                </div>
              <% end %>

            <% end %>

              <div class="criterion-score-info">
                <%= pluralize(criterium.poll.where(solution_id: @solution.id).count, "response") %>

                <% if false %>
                  |
                  <% unless sponsor_count == 0 || criterium.poll.where(solution_id: @solution.id).count == 0 %>
                    Weight: <%= (criterium.user.count.to_f/sponsor_count.to_f * 100).to_i %>%
                  <% else %>
                    Supporters: <%= criterium.user.count %>
                  <% end %>
                  |
                  <% if true #if criterium.poll.where(solution_id: @solution.id).where(user_id: @user.id).count == 0 %>
                    Net support: <%= (base_criterium_score(criterium.id) * 100).to_i %>%
                  <% else %>
                    Adjusted: <%= (solution_criterium_score(@solution.id, criterium.id) * 100).to_i %>%
                  <% end %>
                <% end %>
              </div>
              <!-- </td>
              <td> -->

              </td>
              <!-- <td>
                <em>max criterion score: <%= (base_criterium_score(criterium.id) * 100).to_i %>%</em>
              </td> -->
              <td>  </td>
              <!-- <td><%= criterium.alternatives %></td> -->
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

</div>
<!-- CRITERIA ENDS -->

<!-- DISCUSSION -->
<div class="solution-discussion">
  <br>
  <%= render(:partial => 'discussions/discussion-mini', :locals => {:@discussion => @discussion}) if Setting.find(4).state && @problem.include_comments %>
</div>
<!-- DISCUSSION ENDS -->

</div>

<% if logged_in? && current_user.admin? %>
  <br>
  <span class="admin-section">
    Created by user <%= @solution.creator %> –
    <%= link_to "Remove", destroy_solution_path(@solution), method: :delete, data: { confirm: 'Are you sure?' } %>
  </span>
<% end %>



<script type="text/javascript">
  $(".poll-yes").click(function() {
    $(this).parent().html("<small>Your said yes. Refresh to view.</small>")
  });

  $(".poll-no").click(function() {
    $(this).parent().html("<small>Your said no. Refresh to view.</small>")
  });

  $(".remove-poll").click(function() {
    setTimeout(function () {
      location.reload()
    }, 50);
  });
</script>