<header>

<nav class="navbar">
  <div class="container-fluid converge-header">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%# ENV['GROUP_NAME'] = 'Xymmer' %>
      <% (ENV['GROUP_NAME'] != nil)? group_name = ENV['GROUP_NAME'] : group_name = "Decentralized CAN" %>
      <%= link_to root_path, id: "logo", :class => "navbar-brand" do %>
        <%#= image_tag("logo.png", :border=>0, :class => 'logo-image') %>

        <span id="logo-name"><%= group_name %></span><!-- <span id="beta-tag">Beta</span> -->
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse toolbar-1" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">All posts <span class="sr-only">(current)</span></a></li> -->

        <%# if logged_in? && Setting.find(14).state %>
          <!-- <li> -->
             <!--  <%= link_to dashboard_path do %> -->
                <!-- <i class="fas fa-tachometer-alt"></i> -->
                <!-- Dashboard -->
                <!-- <i class="fas fa-check"></i> -->
                <!-- Tasks -->
              <!-- <% end %> -->
          <!-- </li> -->
        <%# end %>

        <li>
          <% if logged_in? || Setting.find(6).state %>
            <%= link_to main_feed_path do %>
              <i class="fas fa-bullhorn"></i>
              Bulletin
            <% end %>
          <% end %>
        </li>
        

        <li>
          <% if logged_in? || Setting.find(6).state %>
            <%= link_to goal_path(Goal.first, :view => 'public'), :id => 'goal-path' do %>
              <!-- <i class="fas fa-project-diagram"></i> -->
              <i class="fas fa-map"></i>
              <!-- <i class="fas fa-home"></i> -->
              Roadmap
            <% end %>
          <% end %>            
        </li>

      </ul>


      <ul class="nav navbar-nav navbar-left">
        
        <!-- <li>
          <%= link_to documentation_path do %>
            <i class="fas fa-book"></i>
            Guide
          <% end %>
        </li> -->

          <!-- <li>
          <%= link_to root_path do %>
            <i class="fas fa-bullhorn"></i>
            Public
          <% end %>
          </li> -->

        <% if logged_in? && (Setting.first.state || current_user.admin?) %>
          <li>
          <%= link_to choice_path do %>
            <i class="fas fa-plus-circle"></i>
            New
          <% end %>
          </li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if false && logged_in? %>
            <%= link_to notifications_path do %>
              hi
            <% end %>
          <% end %>
        </li>

      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>

        <li class="notifications-li">
          <%= link_to notifications_path do %>
            <i class="fas fa-bell"></i>

            <% if current_user.notification.where(:read => nil).count > 0 %>
              <span class="notification-number"><%= current_user.notification.where(:read => nil).count %></span>
            <% else %>
              <span class="notification-number">&nbsp;</span>
            <% end %>

            <!-- Notifications -->
          <% end %>
        </li>
        
        <li class="user-nav-link">
          <%= link_to current_user do %>
            <%= current_user.name %>
            <i class="fas fa-cog"></i>
            <%= gravatar_for(current_user) if false %>
          <% end %>
        </li>


        <!-- <li>
          <span class="tooltip-toggle" href="#" aria-label="If you have a question, comment or need assistance, feel free to email convergentfacilitation@
          baynvc.org" tabindex="0">
          <i class="far fa-question-circle" style="font-size: 18px; margin-top: 8px; margin-left: 6px;"></i>
          </span>
        </li> -->
        

        <% end %>

<!--         <li>
          <span class="tooltip-toggle" href="#" aria-label="If you have a question, comment or need assistance, feel free to email convergentfacilitation@
          baynvc.org" tabindex="0">
          <i class="far fa-question-circle" style="font-size: 18px; margin-top: 8px; margin-left: 6px;"></i>
          </span>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</header>