<header>

<nav class="navbar navbar-default">
  <div class="container-fluid converge-header">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% (ENV['GROUP_NAME'] != nil)? group_name = ENV['GROUP_NAME'] : group_name = "Decentralized CAN" %>
      <%= link_to group_name, root_path, id: "logo", :class => "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse toolbar-1" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">All posts <span class="sr-only">(current)</span></a></li> -->
        <li>
          <% if logged_in? || Setting.find(6).state %>
            <%= link_to main_feed_path do %>
              <i class="fas fa-th-list"></i>
              Posts
            <% end %>
          <% end %>
        </li>
        <li>
          <%= link_to "Goals", goal_path(Goal.first, :view => 'public') if logged_in? || Setting.find(6).state %>
        </li>
        <li>
          <% if logged_in? && (Setting.first.state || current_user.admin?) %>
            <%= link_to post_problem_path do %>
              <i class="fas fa-pen"></i>
              Create
            <% end %>
          <% end %>
        </li>
        <li>
          <%= link_to users_path do %>
            <% if logged_in? %>
              <i class="fas fa-users"></i>
              Members
            <% end %>
          <% end %>
        </li>
        <li>
          <% if logged_in? || Setting.find(6).state %>
            <%= link_to documentation_path do %>
              <i class="fas fa-book"></i>
              Documentation
            <% end %>
          <% end %>
        </li>
        <li>
          <% if logged_in? && current_user.admin? %>
            <%= link_to settings_path do %>
              <i class="fas fa-cog"></i>
              Settings
            <% end %>
          <% end %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if logged_in? %>

            <%= link_to notifications_path do %>

            <% if current_user.notification.where(:read => nil).count > 0 %>
                <span class="notification-number"><%= current_user.notification.where(:read => nil).count %></span>
            <% end %>

            <i class="fas fa-bell"></i>
            Notifications 

            <% end %>

          <% end %>
        </li>

        <% if logged_in? %>
          <li>
            <%= link_to current_user do %>
              <i class="fas fa-user-cog"></i>
              <%= current_user.name %>
            <% end %>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path if Setting.find(6).state %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</header>