<header>

<nav class="navbar navbar-default">
  <div class="container-fluid converge-header">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% (ENV['GROUP_NAME'] != nil)? group_name = ENV['GROUP_NAME'] : group_name = "Decentralized CAN" %>
      <%= link_to group_name, root_path, id: "logo", :class => "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse toolbar-1" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">All posts <span class="sr-only">(current)</span></a></li> -->
        <li>
          <%= link_to "All posts", main_feed_path if logged_in? || Setting.find(6).state %>
        </li>
        <li>
          <%= link_to "Goals", goal_path(Goal.first) if logged_in? || Setting.find(6).state %>
        </li>
        <li>
          <%= link_to 'Create', post_problem_path if logged_in? && (Setting.first.state || current_user.admin?) %>
        </li>
        <li>
          <%= link_to 'Settings', settings_path if logged_in? && current_user.admin? %>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Guide", documentation_path if logged_in? || Setting.find(6).state %></li>
        <% if logged_in? %>
          <li><%= link_to "Members", users_path %></li>
          <li><%= link_to current_user.name, current_user %></li>
        <% else %>
          <li><%= link_to "Log in", login_path if Setting.find(6).state %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</header>