<% if Setting.find(6).state && !logged_in? %>

<div id = 'quick-login-form'>

<%= form_for(:session, url: login_path) do |f| %>
  
  <% if flash['danger'] == 'That user already exists and this is not the correct password' %>
    <%= link_to "Reset password", new_password_reset_path, :class => "button" %>
    <br><br>
  <% end %>

  <div>
    <%= f.text_field :email, class: 'form-mini', :placeholder => 'Name (lowercase)' %>
  </div>

  <div>
    <!-- Email <%= "(optional)" if Setting.find(7).state == false %> -->
    <%= f.text_field :add_email, id: :user_email, :class => "form-mini", :placeholder => 'Email (optional for notifications & recovery)'  %>
  </div>

  <div>
    <%= f.password_field :password, class: 'form-mini', :placeholder => 'Password'  %>
  </div>

  <%= f.submit "Sign up/in", class: "button" %>

<% end %>
</div>

<% end %>