<% if Setting.find(6).state && !logged_in? %>

<div id = 'quick-login-form'>
<%= form_for(:session, url: login_path) do |f| %>
  <div>
    Username <%= f.text_field :email, class: 'form-mini' %>
  </div>

  <div>
    Email <%= "(optional)" if Setting.find(7).state == false %>
    <%= f.text_field :add_email, id: :user_email, :class => "form-mini" %>
  </div>

  <div>
    Password <%= f.password_field :password, class: 'form-mini' %>
  </div>

  <%= f.submit "Sign up/in", class: "button" %>
<% end %>
</div>

<% end %>